<nav>
  <ul>
    <li>
      <a routerLink="" [class.activated]="currentUrl == '/'" matTooltip="Kezdő oldal">
        <i class="material-icons">home</i>
      </a>
    </li>
    <li>
      <a routerLink="newCar" [class.activated]="currentUrl == '/newCar'" matTooltip="Új autó felvitele">
        <i class="material-icons">directions_car</i>
      </a>
    </li>
    <li>
      <a routerLink="newUser" [class.activated]="currentUrl == '/newUser'" matTooltip="Új magánszemély felvitele">
        <i class="material-icons">person</i>
      </a>
    </li>
    <li>
      <a routerLink="newCompany" [class.activated]="currentUrl == '/newCompany'" matTooltip="Új cég felvitele">
        <i class="material-icons">domain</i>
      </a>
    </li>
    <li>
      <a routerLink="filter" [class.activated]="currentUrl == '/filter'" matTooltip="Szűrők">
        <i class="material-icons">search</i>
      </a>
    </li>
    <li>
      <a routerLink="settings" [class.activated]="currentUrl == '/settings'" matTooltip="Beállítások">
        <i class="material-icons">settings</i>
      </a>
    </li>
    <li>
      <a routerLink="gdprPage" [class.activated]="currentUrl == '/gdprPage'" matTooltip="GDPR dokumentum">
        <i class="material-icons">lock</i>
      </a>
    </li>
  </ul>
</nav>
