<nav>
  <ul>
    <li>
      <a routerLink="" [class.activated]="currentUrl == '/'" matTooltip="Kezdő oldal">
        <fa name="home"></fa>
      </a>
    </li>
    <li>
      <a routerLink="newCar" [class.activated]="currentUrl == '/newCar'" matTooltip="Új autó felvitele">
        <fa name="car"></fa>
      </a>
    </li>
    <li>
      <a routerLink="newUser" [class.activated]="currentUrl == '/newUser'" matTooltip="Új magánszemély felvitele">
        <fa name="user"></fa>
      </a>
    </li>
    <li>
      <a routerLink="newCompany" [class.activated]="currentUrl == '/newCompany'" matTooltip="Új cég felvitele">
        <fa name="building"></fa>
      </a>
    </li>
    <li>
      <a routerLink="filter" [class.activated]="currentUrl == '/filter'" matTooltip="Szűrők">
        <fa name="search"></fa>
      </a>
    </li>
    <li>
      <a routerLink="settings" [class.activated]="currentUrl == '/settings'" matTooltip="Beállítások">
        <fa class="cog" name="cog"></fa>
      </a>
    </li>
    <li>
      <a routerLink="gdprPage" [class.activated]="currentUrl == '/gdprPage'" matTooltip="GDPR dokumentum">
        <fa name="lock"></fa>
      </a>
    </li>
  </ul>
</nav>
