.mat-button {
  background-color: deeppink;
  color: white;
}

.filterRow {
  display: flex;
}

.allCars {
  font-size: 200%;
  color: #5D737E;
}

.databaseIcon {
  padding-left: 3%;
  text-align: center;
  cursor: pointer;
}

.databaseIcon > i {
  position:relative;
  top: calc(50% - 18px); /* 50% - 3/4 of icon height */
}

.search {
  width: 70%;
}

.searchButton {
  width: 100%;
}

.searchType {
  width: 100% !important;
}

.inheritanceTax {
  display: flex;
}

.inheritanceTaxLeftSide {
  width: 30%;
}

.saveButton {
  width: 13%;
}

.countInCarSupplement {
  display: flex;
  flex-direction: column;
}

.summary {
  display:flex;
  justify-content: space-evenly;
}

.selectedCars {
  margin-top: 5%;
}

.selectedCarHeaders {
  display: flex;
  justify-content: space-between;
}

.buyButton {
  justify-content: flex-end;
  cursor: pointer;
}

.trophyIcon {
  justify-content: flex-end;
}

.money {
  color: deeppink;
}

.trophy {
  // color: #A8B4A5;
   color: #6C6EA0;
  cursor: pointer;
}

.edit {
  color: black;
  cursor: pointer;
}

.delete, .deleteDesc {
  color: black;
  cursor: pointer;

}

.deleteDesc {
  font-size: 200%;
}

::ng-deep .mat-expansion-panel-header[aria-disabled=true] {
  color: rgba(0,0,0,.87);
}

.userFilter {
  margin-bottom: 5%;
}

.selectBetweenPreviousAndNew {
  display: flex;
  justify-content: space-between;
  max-width: 40%;
  margin: 2% auto;
}

.newIndOrCorp {
  margin-top: 2%;
}

.typeOfBuying {
  display: flex;
  align-items: center;
}

.editTypeOfBuying {
  color: black;
  margin-left: 10%;
  cursor: pointer;
}

.userSearchContainer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.companySearchContainer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.userFilterRightSide {
  width: 75%;
}

.companyFilterRightSide {
  width: 75%;
}

.userFilterLeftSide {
  width: 20%;
}

.companyFilterLeftSide {
  width: 20%;
}

.userButton {
  margin-bottom: 2%;
}

.indOrCorpCheckbox {
  display: flex;
  flex-direction: column;
}

mat-divider {
  margin-bottom: 2%;
  margin-top: 2%;
}

.fab {
  display: flex;
  flex-flow: row;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.descriptions {
  display: flex;
  align-items: center;
}

button:focus {
  outline: none;
}

table {
  width: 100%;
}

.descriptions {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.kiegTitle {
  display: flex;
  align-items: center;
}

.plusButton {
  padding-left: 2%;
}

.emptyDescriptionColumn {
  min-width: 32.5%;
}

.secondaryFilter {
  width: 140%;
}


