<div class="filters">
  <div class="filterRow">
    <div>
      <div>
        <mat-form-field>
          <mat-label>Szűrési feltétel</mat-label>
          <mat-select [(ngModel)]="selectedFilter" name="filter">
            <mat-option (click)="checkSelectedFilter()" *ngFor="let filter of filters; trackBy: trackByFn" [value]="filter">
              {{filter.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="selectedFilter && selectedFilter.value == 'sold'">
        <mat-form-field class="secondaryFilter">
          <mat-label>Másodlagos szűrési feltétel</mat-label>
          <mat-select [(ngModel)]="secondarySelectedFilter" name="secondaryFilter">
            <mat-option (click)="checkSelectedFilter()" *ngFor="let secondaryFilter of secondaryFilters; trackBy: trackByFn" [value]="secondaryFilter">
              {{secondaryFilter.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="databaseIcon">
      <i class="material-icons-outlined allCars" (click)="getAllCars(false)" matTooltip="Készleten lévő autók betöltése">time_to_leave</i>
    </div>
    <div class="databaseIcon">
      <i class="material-icons allCars soldCars" (click)="getAllCars(true)" matTooltip="Összes eladott autó betöltése">time_to_leave</i>
    </div>
    <div class="quantityContainer" *ngIf="searchParameters && searchParameters.totalQuantity">
      <p class="quantity" mat-flat-button color="accent">{{searchParameters.totalQuantity}}&#160;db</p>
    </div>
  </div>
  <div *ngIf="selectedCars">
    <mat-form-field>
      <mat-label>Rendezés</mat-label>
      <mat-select [(ngModel)]="selectedOrganizer" name="organizer">
        <mat-select-trigger *ngIf="selectedOrganizer">
          <div class="selectItems">
            <i *ngIf="selectedOrganizer.direction == direction.down" class="material-icons orderIcon">text_rotation_angledown</i>
            <i *ngIf="selectedOrganizer.direction == direction.up" class="material-icons orderIcon">text_rotation_angleup</i> &#160;{{selectedOrganizer.viewValue}}
          </div>
        </mat-select-trigger>
        <mat-option (click)="checkSelectedOrganizer()" *ngFor="let organizer of organizers; trackBy: trackByFn" [value]="organizer">
          <div class="selectItems">
            <i *ngIf="organizer.direction == direction.up" class="material-icons orderIcon">text_rotation_angleup</i>
            <i *ngIf="organizer.direction == direction.down" class="material-icons orderIcon">text_rotation_angledown</i> &#160;{{organizer.viewValue}}
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div *ngIf="selectedFilter && selectedFilter.value != 'sold' || secondarySelectedFilter">
  <form *ngIf="selectedFilter && selectedFilter.value == 'plateNumber'
        || secondarySelectedFilter && secondarySelectedFilter.value == 'plateNumber'" #filterForm=ngForm (ngSubmit)="filterCars(filterForm); filterForm.reset()" class="form filterForm">
    <div>
      <mat-form-field class="example-full-width">
        <label>
          <input matInput placeholder="Itt kereshetsz (max 6 karakter)" maxlength="6" minlength="6" ngModel name="plateNumber">
        </label>
      </mat-form-field>
      <mat-error *ngIf="!utilService.validPlateNumber">A rendszám hossza 6 karakter kell, hogy legyen</mat-error>
      <mat-error *ngIf="utilService.emptySearchField">Üresen hagyott keresőmező</mat-error>
      <mat-error *ngIf="isThereLongFieldValue">30 karakternél hosszabb mező érték ({{tooLongFieldValue}})!</mat-error>
    </div>
    <button mat-button>Keresés</button>
  </form>
  <form *ngIf="selectedFilter && selectedFilter.value == 'name' || secondarySelectedFilter && secondarySelectedFilter.value == 'name'" #filterForm=ngForm (ngSubmit)="filterCars(filterForm); filterForm.reset()" class="form filterForm">
    <div>
      <mat-form-field class="example-full-width">
        <label>
          <input matInput maxlength="30" placeholder="Itt kereshetsz (Modell)" ngModel name="name">
        </label>
      </mat-form-field>
      <mat-error *ngIf="utilService.emptySearchField">Üresen hagyott keresőmező</mat-error>
      <mat-error *ngIf="isThereLongFieldValue">30 karakternél hosszabb mező érték ({{tooLongFieldValue}})!</mat-error>
    </div>
    <button mat-button>Keresés</button>
  </form>
  <form *ngIf="selectedFilter && selectedFilter.value == 'type' || secondarySelectedFilter && secondarySelectedFilter.value == 'type'" #filterForm=ngForm (ngSubmit)="filterCars(filterForm); filterForm.reset()" class="form filterForm">
    <div>
      <mat-form-field class="example-full-width">
        <label>
          <input matInput maxlength="30" placeholder="Itt kereshetsz (Márka)" ngModel name="type">
        </label>
      </mat-form-field>
      <mat-error *ngIf="utilService.emptySearchField">Üresen hagyott keresőmező</mat-error>
      <mat-error *ngIf="isThereLongFieldValue">30 karakternél hosszabb mező érték ({{tooLongFieldValue}})!</mat-error>
    </div>
    <button mat-button>Keresés</button>
  </form>
  <form *ngIf="selectedFilter && selectedFilter.value == 'all'" #filterForm=ngForm (ngSubmit)="filterCars(filterForm); filterForm.reset()" class="form filterForm">
    <button mat-button>Keresés</button>
  </form>
</div>
<div class="pageNumbersContainer">
  <div class="pageNumbers" *ngIf="numberOfPages>0" fxLayout="row" fxFlex="100" fxLayoutAlign="end">
    <mat-panel-title class="pageNumbers" fxFlex="5" *ngFor="let num of numberOfPages | numberList: recentPage; trackBy: trackByFn">
      <button *ngIf="num == recentPage" type="button" (click)="goToPage(num)" class="recentPage" mat-mini-fab><b>{{num}}</b></button>
      <button *ngIf="num != recentPage" type="button" (click)="goToPage(num)" class="miniFab" mat-mini-fab><b>{{num}}</b></button>
    </mat-panel-title>
  </div>
</div>
<div class="selectedCars" *ngIf="selectedCars">
  <mat-accordion>
    <mat-card>
      <div class="selectedCarHeaders" fxLayout="row" fxFlex="100" fxLayoutAlign="space-between">
        <mat-panel-title fxFlex="15" *ngFor="let header of selectedCarHeader; trackBy: trackByFn">
          <strong>{{header}}</strong>
        </mat-panel-title>
        <mat-panel-title fxFlex="5"></mat-panel-title>
        <mat-panel-title fxFlex="5"></mat-panel-title>
        <mat-panel-title fxFlex="5"></mat-panel-title>
        <mat-panel-title fxFlex="5"></mat-panel-title>
        <mat-panel-title fxFlex="5"></mat-panel-title>
      </div>
    </mat-card>
    <mat-expansion-panel [disabled]="true" #mep="matExpansionPanel" [expanded]="i == clickedCarIndex" hideToggle *ngFor="let car of selectedCars; index as i; trackBy: trackByFn">
      <mat-expansion-panel-header>
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between">
          <mat-panel-title fxFlex="15">
            {{car.type}}
          </mat-panel-title>
          <mat-panel-title fxFlex="15">
            {{car.name}}
          </mat-panel-title>
          <mat-panel-title fxFlex="15">
            {{car.plateNumber}}
          </mat-panel-title>
          <mat-panel-title fxFlex="15">
            {{car.nameOfBuyer}}
          </mat-panel-title>
          <mat-panel-title fxFlex="15">
            {{car.dateOfLeaving | date:'yyyy-MM-dd'}}
          </mat-panel-title>
          <mat-panel-title class="trophyIcon" fxFlex="5">
            <i *ngIf="car.sold" class="material-icons trophy" (click)="navigateToOrderPage(car, i)" matTooltip="Eladott autó">emoji_events</i>
          </mat-panel-title>
          <mat-panel-title class="buyButton" fxFlex="5">
            <i class="material-icons" (click)="navigateToBlankOrderPage(car)" matTooltip="Üres megrendelőlap az autóhoz">spellcheck</i>
          </mat-panel-title>
          <mat-panel-title class="buyButton" fxFlex="5">
            <i class="material-icons edit" (click)="openUpdateModal(car, i)" matTooltip="Autó szerkesztése">edit</i>
          </mat-panel-title>
          <mat-panel-title class="buyButton" fxFlex="5">
            <i class="material-icons money" (click)="setAlreadyOrNewCustomerSelectorAndCarOfTransaction(car, i)" matTooltip="Autó megvásárlása">shopping_cart</i>
          </mat-panel-title>
          <mat-panel-title class="buyButton" fxFlex="5">
            <i class="material-icons delete" (click)="openWarningModal(car.id)" matTooltip="Autó végleges törlése">clear</i>
          </mat-panel-title>
        </div>
      </mat-expansion-panel-header>
      <div>
        <mat-divider></mat-divider>
        <div>
          <mat-checkbox #previous (change)="selectBetweenNewAndPreviousCustomer(PREVIOUS, previous.checked)" [checked]="previousOrNew === PREVIOUS">Korábbi vásárló</mat-checkbox>
        </div>
        <div>
          <mat-checkbox #new (change)="selectBetweenNewAndPreviousCustomer(NEW, new.checked)" [checked]="previousOrNew === NEW">Új vásárló</mat-checkbox>
        </div>
      </div>
      <div *ngIf="orderProgress > 0" class="indOrCorpCheckbox">
        <mat-divider></mat-divider>
        <div>
          <mat-checkbox #ind (change)="setIndOrCorpCheckboxValue(INDIVIDUAL, ind.checked)" [checked]="individualOrCorporate === INDIVIDUAL">Természetes személy</mat-checkbox>
        </div>
        <div>
          <mat-checkbox #corp (change)="setIndOrCorpCheckboxValue(CORPORATE, corp.checked)" [checked]="individualOrCorporate === CORPORATE">Jogi személy</mat-checkbox>
        </div>
      </div>
      <div *ngIf="alreadyOrNewCustomerSelectorTrueIfNewFalseIfAlready == false && selectedBetweenIndividualAndCompanyTrueIfIndividualFalseIfCorporate">
        <mat-divider></mat-divider>
        <div class="userSearchContainer">
          <div class="userFilterLeftSide">
            <mat-form-field>
              <mat-label>Szűrési feltétel</mat-label>
              <mat-select [(ngModel)]="selectedUserFilter" name="userFilter">
                <mat-option *ngFor="let userFilter of userFilters; trackBy: trackByFn" [value]="userFilter">
                  {{userFilter.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="userFilter" *ngIf="selectedUserFilter">
              <form #filterUserForm=ngForm (ngSubmit)="filterUser(filterUserForm)" class="form filterForm">
                <div class="search">
                  <div class="searchType" *ngIf="selectedUserFilter.value == 'name'">
                    <mat-form-field class="example-full-width">
                      <label>
                        <input matInput maxlength="30" placeholder="Itt kereshetsz ({{selectedUserFilter.viewValue}})" ngModel name="name">
                      </label>
                    </mat-form-field>
                    <mat-error *ngIf="isThereLongFieldValue">30 karakternél hosszabb mező érték ({{tooLongFieldValue}})!</mat-error>
                  </div>
                  <div class="searchType" *ngIf="selectedUserFilter.value == 'city'">
                    <mat-form-field class="example-full-width">
                      <label>
                        <input matInput maxlength="30" placeholder="Itt kereshetsz ({{selectedUserFilter.viewValue}})" ngModel name="city">
                      </label>
                    </mat-form-field>
                    <mat-error *ngIf="isThereLongFieldValue">30 karakternél hosszabb mező érték ({{tooLongFieldValue}})!</mat-error>
                  </div>
                  <div>
                    <button mat-button class="searchButton">Keresés</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="userFilterRightSide">
            <div>
              <table *ngIf="userSearchResult.data && userSearchResult.data.length > 0" mat-table [dataSource]="userSearchResult" class="mat-elevation-z8">

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Név </th>
                  <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
                </ng-container>

                <!-- City Column -->
                <ng-container matColumnDef="city">
                  <th mat-header-cell *matHeaderCellDef> Város </th>
                  <td mat-cell *matCellDef="let element"> {{element.city}} </td>
                </ng-container>

                <!-- Tax number Column -->
                <ng-container matColumnDef="taxNumber">
                  <th mat-header-cell *matHeaderCellDef> Adószám </th>
                  <td mat-cell *matCellDef="let element"> {{element.taxNumber}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef> &nbsp; </th>
                  <td mat-cell *matCellDef="let element; let userTableIndex = index;">
                    <mat-checkbox #userTable (change)="pickUser(userTableIndex)" [checked]="indexOfPickedUser === userTableIndex"></mat-checkbox>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="userDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: userDisplayedColumns;"></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="alreadyOrNewCustomerSelectorTrueIfNewFalseIfAlready == false && selectedBetweenIndividualAndCompanyTrueIfIndividualFalseIfCorporate == false">
        <mat-divider></mat-divider>
        <div class="companySearchContainer">
          <div class="companyFilterLeftSide">
            <mat-form-field>
              <mat-label>Szűrési feltétel</mat-label>
              <mat-select [(ngModel)]="selectedCompanyFilter" name="companyFilter">
                <mat-option *ngFor="let companyFilter of companyFilters; trackBy: trackByFn" [value]="companyFilter">
                  {{companyFilter.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="userFilter" *ngIf="selectedCompanyFilter">
              <form #filterCompanyForm=ngForm (ngSubmit)="filterCompany(filterCompanyForm)" class="form filterForm">
                <div class="search">
                  <div class="searchType" *ngIf="selectedCompanyFilter.value == 'name'">
                    <mat-form-field class="example-full-width">
                      <label>
                        <input matInput  maxlength="30" placeholder="Itt kereshetsz ({{selectedCompanyFilter.viewValue}})" ngModel name="name">
                      </label>
                    </mat-form-field>
                    <mat-error *ngIf="isThereLongFieldValue">30 karakternél hosszabb mező érték ({{tooLongFieldValue}})!</mat-error>
                  </div>
                  <div *ngIf="selectedCompanyFilter.value == 'companyRegistrationNumber'">
                    <mat-form-field class="example-full-width">
                      <label>
                        <input matInput  maxlength="30" placeholder="Itt kereshetsz ({{selectedCompanyFilter.viewValue}})" ngModel name="companyRegistrationNumber">
                      </label>
                    </mat-form-field>
                    <mat-error *ngIf="isThereLongFieldValue">30 karakternél hosszabb mező érték ({{tooLongFieldValue}})!</mat-error>
                  </div>
                  <div class="searchButton">
                    <button mat-button class="search">Keresés</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="companyFilterRightSide">
            <div>
              <table *ngIf="companySearchResult && companySearchResult.data && companySearchResult.data.length > 0" mat-table [dataSource]="companySearchResult" class="mat-elevation-z8">

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Név </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- City Column -->
                <ng-container matColumnDef="registrationNumber">
                  <th mat-header-cell *matHeaderCellDef> Cégjegyzékszám </th>
                  <td mat-cell *matCellDef="let element"> {{element.companyRegistrationNumber}} </td>
                </ng-container>

                <!-- Tax number Column -->
                <ng-container matColumnDef="representation">
                  <th mat-header-cell *matHeaderCellDef> Képviselő </th>
                  <td mat-cell *matCellDef="let element"> {{element.representation}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef> &nbsp; </th>
                  <td mat-cell *matCellDef="let element; let compTableIndex = index;">
                    <mat-checkbox #companyTable (change)="pickCompany(compTableIndex)" [checked]="indexOfPickedCompany === compTableIndex"></mat-checkbox>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="companyDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: companyDisplayedColumns;"></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="newIndOrCorp">
        <app-user *ngIf="alreadyOrNewCustomerSelectorTrueIfNewFalseIfAlready && selectedBetweenIndividualAndCompanyTrueIfIndividualFalseIfCorporate && clickedCarIndex == i"
                  [userData]="newUser"
                  (newUser)="addNewUserToOrder($event)"
                  (orderProgress)="orderOnProgressWithUser($event)"></app-user>
        <app-company *ngIf="alreadyOrNewCustomerSelectorTrueIfNewFalseIfAlready && selectedBetweenIndividualAndCompanyTrueIfIndividualFalseIfCorporate == false && clickedCarIndex == i"
                     [companyData]="newCompany"
                     (orderProgress)="orderOnProgressWithUser($event)" (newCompany)="addNewCompanyToOrder($event)"></app-company>
      </div>
      <div *ngIf="orderProgress > 1">
        <mat-divider></mat-divider>
        <div class="inheritanceTax">
          <div class="inheritanceTaxLeftSide">
            <div>
              <mat-checkbox #inhtax (change)="setInheritanceTaxCheckboxValue(WANT_CALCULATION, car, inhtax.checked)" [checked]="askForInheritanceTaxCalculation === WANT_CALCULATION">Kérek átírási költség számítást</mat-checkbox>
            </div>
            <div>
              <mat-checkbox #noinhtax (change)="setInheritanceTaxCheckboxValue(DONT_WANT_CALCULATION, car, noinhtax.checked)" [checked]="askForInheritanceTaxCalculation === DONT_WANT_CALCULATION">Nem kérek átírási költség számítást</mat-checkbox>
            </div>
          </div>
          <div class="inheritanceTaxRightSide" *ngIf="inheritanceTax">
            <p>Az átírási költség: {{inheritanceTax}}</p>
          </div>
        </div>
      </div>
      <div *ngIf="orderProgress > 2">
        <mat-divider></mat-divider>
        <div>
          <mat-checkbox #countIn (change)="setCountInCar(COUNT_IN, countIn.checked)" [checked]="addCountInCar === COUNT_IN">Van beszámított autó</mat-checkbox>
        </div>
        <div>
          <mat-checkbox #noCountIn (change)="setCountInCar(NO_COUNT_IN, noCountIn.checked)" [checked]="addCountInCar === NO_COUNT_IN">Nincs beszámított autó</mat-checkbox>
        </div>
      </div>
      <div *ngIf="thereIsCountInCar && clickedCarIndex == i">
        <mat-divider></mat-divider>
        <app-car (orderProgress)="orderOnProgressWithCar($event)"
                 (countInCar)="getCountInCarData($event)"
                 [carData] = "countInCar"
        ></app-car>
      </div>
      <div *ngIf="orderProgress > 3 && thereIsCountInCar && clickedCarIndex == i">
        <mat-divider></mat-divider>
        <div class="countInCarSupplement-container">
          <form [formGroup]="countInCarSupplementForm" (submit)="saveCountInCarSupplement(countInCarSupplementForm)" class="countInCarSupplementForm">
            <h5>Add meg a beszámított autó egyéb adatait</h5>
            <div class="countInCarSupplement">
              <div>
                <div class="inputContainer">
                  <div class="leftSide">
                    <div>
                      <mat-form-field class="example-full-width">
                        <label>
                          <input currencyMask matInput placeholder="Beszámított autó ár" formControlName="countInPrice" [options]="{ precision: 0, thousands: '.', prefix: '', align: 'left', allowNegative: false, suffix: ' Ft'}">
                        </label>
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field class="example-full-width">
                        <label>
                          <input currencyMask matInput placeholder="Korábbi hitel" formControlName="previousLoan" [options]="{ precision: 0, thousands: '.', prefix: '', align: 'left', allowNegative: false, suffix: ' Ft'}">
                        </label>
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field class="example-full-width">
                        <label>
                          <input matInput maxlength="30" placeholder="Korábbi bank" formControlName="previousBank">
                        </label>
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field class="example-full-width">
                        <label>
                          <input matInput maxlength="30" placeholder="Hitel típusa" formControlName="loanType">
                        </label>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <mat-error *ngIf="isThereLongFieldValue">30 karakternél hosszabb mező érték ({{tooLongFieldValue}})!</mat-error>
              <div *ngIf="orderProgress == 4">
                <button class="saveButton" mat-button type="submit">Tovább</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div *ngIf="orderProgress > 4">
        <mat-divider></mat-divider>
        <h5>Foglaló + előleg</h5>
        <form [formGroup]="downPaymentForm" (submit)="saveDownPaymentAmount(downPaymentForm)">
          <div>
            <mat-form-field class="example-full-width">
              <label>
                <input currencyMask matInput placeholder="Foglaló összege" formControlName="downPayment" (ngModelChange)="saveChangedDownPayment(downPaymentForm)" [options]="{ precision: 0, thousands: '.', prefix: '', align: 'left', allowNegative: false, suffix: ' Ft'}">
              </label>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <label>
                <input currencyMask matInput placeholder="Előleg összege" formControlName="extra" (ngModelChange)="saveChangedExtra(downPaymentForm)" [options]="{ precision: 0, thousands: '.', prefix: '', align: 'left', allowNegative: false, suffix: ' Ft'}">
              </label>
            </mat-form-field>
          </div>
          <div *ngIf="orderProgress == 5">
            <button class="saveButton" mat-button type="submit">Tovább</button>
          </div>
        </form>
      </div>
      <div *ngIf="orderProgress > 5 && clickedCarIndex == i">
        <mat-divider></mat-divider>
          <div>
            <mat-form-field class="example-full-width">
              <mat-label>Értékesítő</mat-label>
              <mat-select [(ngModel)]="salesman" (ngModelChange)="saveSalesman($event)" placeholder="Név">
                <mat-option *ngFor="let salesman of utilService.salesmenObs | async; trackBy: trackByFn" [value]="salesman.name">
                  {{salesman.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
      </div>
      <div *ngIf="orderProgress > 6 && clickedCarIndex == i">
        <mat-divider></mat-divider>
        <h5>Várható átadás</h5>
        <form #handOverForm=ngForm (ngSubmit)="focuser.focus(); submitHandOver(handOverForm)" class="form handOverForm">
          <div>
            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="handOverPicker" (ngModelChange)="submitHandOver(handOverForm)" [ngModelOptions]="{updateOn: 'blur'}" placeholder="Dátum" ngModel="{{carOfTransaction.carHandover | date:'yyyy-MM-dd'}}" name="handover">
              <mat-datepicker-toggle matSuffix [for]="handOverPicker"></mat-datepicker-toggle>
              <mat-datepicker #handOverPicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div>
              <label>
                <input #focuser type="hidden">
              </label>
          </div>
          <div *ngIf="orderProgress == 7">
            <button *ngIf="!newOrder" class="saveButton" mat-button>Tovább</button>
          </div>
        </form>
      </div>
      <div *ngIf="orderProgress > 7 && clickedCarIndex == i">
        <mat-divider></mat-divider>
        <div class="kiegTitle">
          <div>
            <h5>Kiegészítések</h5>
          </div>
          <div class="plusButton">
            <button matTooltip="Új kiegészítés" type="button" (click)="addNewDescriptionWithAmountRow(null)" class="miniFab" mat-mini-fab><i class="material-icons">add</i></button>
          </div>
        </div>
        <div>
          <form [formGroup]="descriptionForm" (submit)="saveDescriptions(descriptionForm)" class="descriptionForm">
            <div class="descriptions" formArrayName="description" *ngFor="let singleDescription of formData.controls; let indexNum = index; trackBy:trackByFn">
              <div class="descriptions">
                <mat-form-field class="example-full-width" [formGroupName]="indexNum">
                  <label>
                    <input matInput maxlength="30" placeholder="Szöveg" formControlName="descriptionText" (ngModelChange)="saveChangedDescription(descriptionForm, indexNum)">
                  </label>
                </mat-form-field>
              </div>
              <div class="descriptions">
                <mat-form-field class="example-full-width" [formGroupName]="indexNum">
                  <mat-select placeholder="Terhelt fél" formControlName="charged" (ngModelChange)="saveChangedDescription(descriptionForm, indexNum)">
                    <mat-option *ngFor="let item of chargedBehalf; trackBy: trackByFn" value="{{item}}" (click)="item == 'AJÁNDÉK' && addToGiftIndexList(indexNum) || item == 'VEVŐ FIZETI' && removeFromGiftIndexList(indexNum)">
                      {{item}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="descriptions" *ngIf="!giftIndexList.includes(indexNum)">
                <mat-form-field class="example-full-width" [formGroupName]="indexNum">
                  <label>
                    <input currencyMask matInput placeholder="Összeg" formControlName="amount" (ngModelChange)="saveChangedDescription(descriptionForm, indexNum)" [options]="{ precision: 0, thousands: '.', prefix: '', align: 'left', allowNegative: false, suffix: ' Ft'}">
                  </label>
                </mat-form-field>
              </div>
              <div class="emptyDescriptionColumn" *ngIf="giftIndexList.includes(indexNum)"></div>
              <div><i matTooltip="Kiegészítés törlése" class="material-icons deleteDesc" (click)="removeDescriptionWithAmountRow(indexNum)">highlight_off</i></div>
            </div>
            <div *ngIf="orderProgress == 8">
              <button class="saveButton" mat-button type="submit">Tovább</button>
            </div>
          </form>
        </div>
      </div>
      <div *ngIf="orderProgress > 8 && clickedCarIndex == i">
        <mat-divider></mat-divider>
        <div class="typeOfBuying">
          <div>
            <mat-form-field class="example-full-width">
              <mat-label>Vásárlás típusa</mat-label>
              <mat-select [(ngModel)]="selectedTypeOfBuying" (ngModelChange)="selectTypeOfBuying($event)" name="typeOfBuying">
                <mat-option *ngFor="let type of typeOfBuying; trackBy: trackByFn" [value]="type">
                  {{type}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <i *ngIf="selectedTypeOfBuying == 'HITEL'" class="material-icons editTypeOfBuying " (click)="openCreditModal(carOfTransaction)">edit</i>
          </div>
        </div>
      </div>
      <div *ngIf="orderProgress > 9 && clickedCarIndex == i">
        <mat-divider></mat-divider>
        <mat-error *ngIf="creditNeedsToBeRecalculated"><h5>A hitel adatai módosultak, kérlek kalkuláld újra őket!</h5></mat-error>
        <h5>Összesítő</h5>
        <div class="summary">
          <div>
            <button mat-button type="submit" (click)="navigateToOrderOrSellingOrWarrantOrInsurancePage(car, car.id, '/orderPage', null, null, null, null, descriptionForm, countInCarSupplementForm, null)">Megrendelőlap</button>
          </div>
          <div>
            <button mat-button type="submit" (click)="gatherSellingPageInfo(car, car.id, 'sell', descriptionForm, countInCarSupplementForm)">Tovább az eladási adatokhoz</button>
          </div>
          <div *ngIf="countInCar">
            <button mat-button type="submit" (click)="gatherSellingPageInfo(countInCar, car.id,  'buy', descriptionForm, countInCarSupplementForm)">Tovább a vételi adatokhoz</button>
          </div>
          <div>
            <button mat-button type="submit" (click)="openWitnessPickerForWarrantPage(descriptionForm, countInCarSupplementForm)">Meghatalmazás</button>
          </div>
          <div *ngIf="countInCar">
            <button mat-button type="submit" (click)="navigateToInsurancePage(car, descriptionForm, countInCarSupplementForm)">Biztosítás</button>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div class="pageNumbersContainer">
  <div class="pageNumbers" *ngIf="numberOfPages>0" fxLayout="row" fxFlex="100" fxLayoutAlign="end">
    <mat-panel-title class="pageNumbers" fxFlex="5" *ngFor="let num of numberOfPages | numberList: recentPage; trackBy: trackByFn">
      <button *ngIf="num == recentPage" type="button" (click)="goToPage(num)" class="recentPage" mat-mini-fab><b>{{num}}</b></button>
      <button *ngIf="num != recentPage" type="button" (click)="goToPage(num)" class="miniFab" mat-mini-fab><b>{{num}}</b></button>
    </mat-panel-title>
  </div>
</div>

