<div>
  <mat-form-field>
    <mat-label>Szűrési feltétel</mat-label>
    <mat-select (click)="clearSelectedCars()" [(ngModel)]="selectedFilter" name="filter">
      <mat-option *ngFor="let filter of filters; trackBy: trackByFn" [value]="filter">
        {{filter.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div *ngIf="selectedFilter">
  <form #filterForm=ngForm (ngSubmit)="filterCars(filterForm)" class="form filterForm">
    <div *ngIf="selectedFilter.value == 'plateNumber'">
      <mat-form-field class="example-full-width">
        <label>
          <input matInput placeholder="Itt kereshetsz (max 6 karakter)" maxlength="6" minlength="6" ngModel name="plateNumber">
        </label>
      </mat-form-field>
      <mat-error *ngIf="!utilService.validPlateNumber">A rendszam hossza 6 karakter kell legyen</mat-error>
    </div>
    <div *ngIf="selectedFilter.value == 'name' || selectedFilter.value == 'type'">
      <mat-form-field class="example-full-width">
        <label>
          <input matInput placeholder="Itt kereshetsz ({{selectedFilter.viewValue}})" ngModel name="{{selectedFilter.value}}">
        </label>
      </mat-form-field>
    </div>
    <button mat-button>Keresés</button>
  </form>
</div>
<div class="selectedCars" *ngIf="selectedCars.length > 0">
  <mat-accordion>
    <mat-card>
      <div class="selectedCarHeaders">
        <mat-panel-title *ngFor="let header of selectedCarHeader; trackBy: trackByFn">
          <strong>{{header}}</strong>
        </mat-panel-title>
      </div>
    </mat-card>
    <mat-expansion-panel [disabled]="true" #mep="matExpansionPanel" hideToggle *ngFor="let car of selectedCars; index as i; trackBy: trackByFn">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{car.type}}
        </mat-panel-title>
        <mat-panel-title>
          {{car.name}}
        </mat-panel-title>
        <mat-panel-title>
          {{car.plateNumber}}
        </mat-panel-title>
        <mat-panel-title class="buyButton">
          <i class="material-icons edit" (click)="openUpdateModal(car)">edit</i>
        </mat-panel-title>
        <mat-panel-title class="buyButton">
          <i class="material-icons money" (click)="mep.expanded = !mep.expanded; setAlreadyOrNewCustomerSelectorAndCarOfTransaction(car, i)">shopping_cart</i>
        </mat-panel-title>
        <mat-panel-title class="buyButton">
          <i class="material-icons delete" (click)="openWarningModal(car.id)">delete_forever</i>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <mat-divider></mat-divider>
        <div>
          <mat-checkbox #previous (change)="selectBetweenNewAndPreviousCustomer('previous', previous.checked)" [checked]="previousOrNew === 'previous'">Korábbi vásárló</mat-checkbox>
        </div>
        <div>
          <mat-checkbox #new (change)="selectBetweenNewAndPreviousCustomer('new', new.checked)" [checked]="previousOrNew === 'new'">Új vásárló</mat-checkbox>
        </div>
      </div>
      <div *ngIf="orderProgress > 0" class="indOrCorpCheckbox">
        <mat-divider></mat-divider>
        <div>
          <mat-checkbox #ind (change)="setIndOrCorpCheckboxValue('individual', ind.checked)" [checked]="individualOrCorporate === 'individual'">Természetes személy</mat-checkbox>
        </div>
        <div>
          <mat-checkbox #corp (change)="setIndOrCorpCheckboxValue('corporate', corp.checked)" [checked]="individualOrCorporate === 'corporate'">Jogi személy</mat-checkbox>
        </div>
      </div>
      <div *ngIf="alreadyOrNewCustomerSelectorTrueIfNewFalseIfAlready == false && selectedBetweenIndividualAndCompanyTrueIfIndividualFalseIfCorporate">
        <mat-divider></mat-divider>
        <div class="userSearchContainer">
          <div class="userFilterLeftSide">
            <mat-form-field>
              <mat-label>Szűrési feltétel</mat-label>
              <mat-select [(ngModel)]="selectedUserFilter" name="userFilter">
                <mat-option *ngFor="let userFilter of userFilters; trackBy: trackByFn" [value]="userFilter">
                  {{userFilter.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="userFilter" *ngIf="selectedUserFilter">
              <form #filterUserForm=ngForm (ngSubmit)="filterUser(filterUserForm)" class="form filterForm">
                <div *ngIf="selectedUserFilter.value == 'name'">
                  <mat-form-field class="example-full-width">
                    <label>
                      <input matInput placeholder="Itt kereshetsz ({{selectedUserFilter.viewValue}})" ngModel name="name">
                    </label>
                  </mat-form-field>
                </div>
                <div *ngIf="selectedUserFilter.value == 'city'">
                  <mat-form-field class="example-full-width">
                    <label>
                      <input matInput placeholder="Itt kereshetsz ({{selectedUserFilter.viewValue}})" ngModel name="city">
                    </label>
                  </mat-form-field>
                </div>
                <button mat-fab><i class="material-icons">search</i></button>
              </form>
            </div>
          </div>
          <div class="userFilterRightSide">
            <div>
              <table *ngIf="userSearchResult.data.length > 0" mat-table [dataSource]="userSearchResult" class="mat-elevation-z8">

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Név </th>
                  <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
                </ng-container>

                <!-- City Column -->
                <ng-container matColumnDef="city">
                  <th mat-header-cell *matHeaderCellDef> Város </th>
                  <td mat-cell *matCellDef="let element"> {{element.city}} </td>
                </ng-container>

                <!-- Tax number Column -->
                <ng-container matColumnDef="taxNumber">
                  <th mat-header-cell *matHeaderCellDef> Adószám </th>
                  <td mat-cell *matCellDef="let element"> {{element.taxNumber}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef> &nbsp; </th>
                  <td mat-cell *matCellDef="let element; let tableIndex = index;">
                    <mat-checkbox #userTable (change)="pickUser(tableIndex)" [checked]="pickedUser === tableIndex"></mat-checkbox>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="alreadyOrNewCustomerSelectorTrueIfNewFalseIfAlready == false && selectedBetweenIndividualAndCompanyTrueIfIndividualFalseIfCorporate == false">
        <mat-form-field>
          <mat-label>Szűrési feltétel</mat-label>
          <mat-select [(ngModel)]="selectedCompanyFilter" name="companyFilter">
            <mat-option *ngFor="let companyFilter of companyFilters; trackBy: trackByFn" [value]="companyFilter">
              {{companyFilter.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="userFilter" *ngIf="selectedCompanyFilter">
          <form #filterCompanyForm=ngForm (ngSubmit)="filterCompany(filterCompanyForm)" class="form filterForm">
            <div *ngIf="selectedCompanyFilter.value == 'name'">
              <mat-form-field class="example-full-width">
                <label>
                  <input matInput placeholder="Itt kereshetsz ({{selectedCompanyFilter.viewValue}})" ngModel name="name">
                </label>
              </mat-form-field>
            </div>
            <div *ngIf="selectedCompanyFilter.value == 'companyRegistrationNumber'">
              <mat-form-field class="example-full-width">
                <label>
                  <input matInput placeholder="Itt kereshetsz ({{selectedCompanyFilter.viewValue}})" ngModel name="companyRegistrationNumber">
                </label>
              </mat-form-field>
            </div>
            <button mat-fab><i class="material-icons">search</i></button>
          </form>
        </div>
      </div>
      <div class="newIndOrCorp">
        <app-user (orderProgress)="orderOnProgressWithUser($event)" *ngIf="alreadyOrNewCustomerSelectorTrueIfNewFalseIfAlready && selectedBetweenIndividualAndCompanyTrueIfIndividualFalseIfCorporate && clickedCarIndex == i"></app-user>
        <app-company (orderProgress)="orderOnProgressWithUser($event)" *ngIf="alreadyOrNewCustomerSelectorTrueIfNewFalseIfAlready && selectedBetweenIndividualAndCompanyTrueIfIndividualFalseIfCorporate == false && clickedCarIndex == i"></app-company>
      </div>
      <div *ngIf="orderProgress > 1">
        <mat-divider></mat-divider>
        <div>
          <mat-checkbox #inhtax (change)="setInheritanceTaxCheckboxValue('wantCalculation', car, inhtax.checked)" [checked]="askForInheritanceTaxCalculation === 'wantCalculation'">Kérek átírási költség számítását</mat-checkbox>
        </div>
        <div>
          <mat-checkbox #noinhtax (change)="setInheritanceTaxCheckboxValue('dontWantCalculation', car, noinhtax.checked)" [checked]="askForInheritanceTaxCalculation === 'dontWantCalculation'">Nem kérek átírási költség számítását</mat-checkbox>
        </div>
      </div>
      <div *ngIf="orderProgress > 2">
        <mat-divider></mat-divider>
        <div>
          <mat-checkbox #countIn (change)="setCountInCar('countIn', countIn.checked)" [checked]="addCountInCar === 'countIn'">Van beszámított autó</mat-checkbox>
        </div>
        <div>
          <mat-checkbox #noCountIn (change)="setCountInCar('noCountIn', noCountIn.checked)" [checked]="addCountInCar === 'noCountIn'">Nincs beszámított autó</mat-checkbox>
        </div>
      </div>
      <div *ngIf="thereIsCountInCar && clickedCarIndex == i">
        <mat-divider></mat-divider>
        <app-car (orderProgress)="orderOnProgressWithCar($event)"></app-car>
      </div>
      <div *ngIf="orderProgress > 3">
        <mat-divider></mat-divider>
        <div class="countInCarSupplement-container">
          <form [formGroup]="countInCarSupplementForm" (submit)="saveCountInCarSupplement(countInCarSupplementForm)" class="countInCarSupplementForm">
            <h5>Add meg a beszámított autó egyéb adatait</h5>
            <div>
              <div class="inputContainer">
                <div class="leftSide">
                  <div>
                    <mat-form-field class="example-full-width">
                      <label>
                        <input matInput type="number" placeholder="Beszámított autó ár" formControlName="countInPrice">
                      </label>
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="example-full-width">
                      <label>
                        <input matInput type="number" placeholder="Korábbi hitel" formControlName="previousLoan">
                      </label>
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="example-full-width">
                      <label>
                        <input matInput placeholder="Korábbi bank" formControlName="previousBank">
                      </label>
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="example-full-width">
                      <label>
                        <input matInput placeholder="Hitel típusa" formControlName="loanType">
                      </label>
                    </mat-form-field>
                  </div>
                </div>
                <div class="middle">
                  <div>
                    <div formArrayName="description" *ngFor="let singleDescription of countInCarSupplementForm.get('description').controls; let ind = index">
                      <div class="descriptions">
                        <mat-form-field class="example-full-width" [formGroupName]="ind">
                          <label>
                            <input matInput placeholder="Kiegészítés" formControlName="description">
                          </label>
                        </mat-form-field>
                        <div><i class="material-icons delete" (click)="removeDescriptionRow(ind)">delete_forever</i></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="rightSide">
                  <button type="button" (click)="addNewDescriptionRow(null)" class="miniFab" mat-mini-fab><i class="material-icons">add</i></button>
                </div>
              </div>
            </div>
            <div class="saveButton">
              <button mat-fab type="submit"><i class="material-icons">save</i></button>
            </div>
          </form>
        </div>
      </div>
      <div *ngIf="orderProgress > 4">
        <mat-divider></mat-divider>
        <h5>Foglaló</h5>
        <form [formGroup]="downPaymentForm" (submit)="saveDownPaymentAmount(downPaymentForm)">
          <div>
            <mat-form-field class="example-full-width">
              <label>
                <input matInput type="number" placeholder="Beszámított autó ár" formControlName="downPayment">
              </label>
            </mat-form-field>
          </div>
          <div class="saveButton">
            <button mat-fab type="submit"><i class="material-icons">save</i></button>
          </div>
        </form>
      </div>
      <div *ngIf="orderProgress > 5 && clickedCarIndex == i">
        <mat-divider></mat-divider>
        <div class="typeOfBuying">
          <div>
            <mat-form-field class="example-full-width">
              <mat-label>Vasarlas tipusa</mat-label>
              <mat-select [(ngModel)]="selectedTypeOfBuying" (ngModelChange)="selectTypeOfBuying($event, car)" name="typeOfBuying">
                <mat-option *ngFor="let type of typeOfBuying; trackBy: trackByFn" [value]="type">
                  {{type}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <i *ngIf="selectedTypeOfBuying == 'HITEL'" class="material-icons editTypeOfBuying " (click)="openCreditModal(car)">edit</i>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div *ngIf="noMatch">Nincs a keresési feltételnek megfelelő találat!</div>
