.inputContainer {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.mat-button {
  background-color: dodgerblue;
  width: 200px !important;
}

.saveButton {
  width: 80%;
  text-align: left;
  margin-top: 5%;
}

mat-form-field {
  width: 130%;
}

button:focus {
  outline: none;
}

.mat-button {
  background-color: deeppink;
  color: white;
}
