.inputContainer {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.mat-mdc-button {
  background-color: dodgerblue;
  width: 200px !important;
}

.saveButton {
  width: 80%;
  text-align: left;
  margin-top: 5%;
}

mat-form-field {
  width: 130%;
}

button:focus {
  outline: none;
}

.mat-mdc-button {
  background-color: deeppink;
  color: white;
}

.buttons{
  display: flex;
  justify-content: space-between;
}

.userSearchContainer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-bottom: 5%;
}

.userFilterRightSide {
  width: 75%;
}

.userFilterLeftSide {
  width: 20%;
}

table {
  width: 100%;
}

.search {
  width: 100%;
}

.searchButton {
  width: 70%;
  max-width: 70% !important;
}

.searchType {
  width: 100% !important;
}

mat-divider {
  margin-bottom: 2%;
  margin-top: 2%;
}

.searchField {
  width: 70% !important;
}
