<div class="user-container">
  <div *ngIf="router.url == '/newUser'" class="userSearchContainer">
    <div class="userFilterLeftSide">
      <mat-form-field class="searchField">
        <mat-label>Szűrési feltétel</mat-label>
        <mat-select [(ngModel)]="selectedUserFilter" name="userFilter">
          <mat-option *ngFor="let userFilter of userFilters; trackBy: trackByFn" [value]="userFilter">
            {{userFilter.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="userFilter" *ngIf="selectedUserFilter">
        <form #filterUserForm=ngForm (ngSubmit)="filterUser(filterUserForm)" class="form filterForm">
          <div class="search">
            <div class="searchType" *ngIf="selectedUserFilter.value == 'name'">
              <mat-form-field class="example-full-width searchField">
                <label>
                  <input matInput maxlength="30" placeholder="Itt kereshetsz ({{selectedUserFilter.viewValue}})" ngModel name="name">
                </label>
              </mat-form-field>
              <mat-error *ngIf="isThereLongFieldValue">30 karakternél hosszabb mező érték ({{tooLongFieldValue}})!</mat-error>
            </div>
            <div class="searchType" *ngIf="selectedUserFilter.value == 'city'">
              <mat-form-field class="example-full-width searchField">
                <label>
                  <input matInput maxlength="30" placeholder="Itt kereshetsz ({{selectedUserFilter.viewValue}})" ngModel name="city">
                </label>
              </mat-form-field>
              <mat-error *ngIf="isThereLongFieldValue">30 karakternél hosszabb mező érték ({{tooLongFieldValue}})!</mat-error>
            </div>
            <div>
              <button mat-button class="searchButton">Keresés</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="userFilterRightSide">
      <div>
        <table *ngIf="userSearchResult.data && userSearchResult.data.length > 0" mat-table [dataSource]="userSearchResult" class="mat-elevation-z8">

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Név </th>
            <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
          </ng-container>

          <!-- City Column -->
          <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef> Város </th>
            <td mat-cell *matCellDef="let element"> {{element.city}} </td>
          </ng-container>

          <!-- Tax number Column -->
          <ng-container matColumnDef="taxNumber">
            <th mat-header-cell *matHeaderCellDef> Adószám </th>
            <td mat-cell *matCellDef="let element"> {{element.taxNumber}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> &nbsp; </th>
            <td mat-cell *matCellDef="let element; let userTableIndex = index;">
              <mat-checkbox #userTable (change)="pickUser(userTableIndex)" [checked]="indexOfPickedUser=== userTableIndex"></mat-checkbox>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="userDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: userDisplayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
  <mat-divider *ngIf="router.url == '/newUser'"></mat-divider>
  <form #userForm=ngForm (ngSubmit)="saveUser(userForm)" class="form userForm" (keydown.enter)="$event.preventDefault()">
    <h5>Új vásárló adatai</h5>
    <div>
      <div class="inputContainer">
        <div class="leftSide">
          <div>
            <mat-form-field class="example-full-width">
              <label>
                <input matInput maxlength="30" placeholder="Teljes Név" (ngModelChange)="itemChanged(userForm, 'fullName')" ngModel="{{userData.fullName}}" name="fullName">
              </label>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <label>
                <input matInput maxlength="30" placeholder="Születéskori Név" (ngModelChange)="itemChanged(userForm, 'birthName')" ngModel="{{userData.birthName}}" name="birthName">
              </label>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <label>
                <input matInput maxlength="30" placeholder="Telefonszám" (ngModelChange)="itemChanged(userForm, 'phoneNumber')" ngModel="{{userData.phoneNumber}}" name="phoneNumber">
              </label>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <label>
                <input matInput placeholder="Irányítószám" maxlength="4" type="text" pattern="\d*" (ngModelChange)="itemChanged(userForm, 'zipCode'); checkZipCode(userForm)" ngModel="{{userData.zipCode}}" name="zipCode">
              </label>
            </mat-form-field>
          </div>
          <div *ngFor="let item of fieldsAddress | keyvalue:keepOriginalOrder; trackBy: trackByFn">
            <mat-form-field class="example-full-width">
              <label>
                <input matInput maxlength="30" placeholder="{{item.value}}" (ngModelChange)="itemChanged(userForm, item.key)" ngModel="{{userData[item.key]}}" name="{{item.key}}">
              </label>
            </mat-form-field>
          </div>
        </div>
        <div class="middle">
          <div>
            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="birthPicker" placeholder="Születési dátum" (ngModelChange)="itemChanged(userForm, 'birthDate')" ngModel="{{userData.birthDate | date:'yyyy-MM-dd'}}" name="birthDate">
              <mat-datepicker-toggle matSuffix [for]="birthPicker"></mat-datepicker-toggle>
              <mat-datepicker #birthPicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <label>
                <input matInput [formControl]="emailFormControl"
                       [errorStateMatcher]="matcher" placeholder="E-mail" (ngModelChange)="itemChanged(userForm, 'email')" ngModel="{{userData.email}}" name="email">
              </label>
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Kérlek adj meg megfelelő e-mail címet :)
              </mat-error>
            </mat-form-field>
          </div>
          <div *ngFor="let item of fieldsTwo | keyvalue:keepOriginalOrder; trackBy: trackByFn">
            <mat-form-field class="example-full-width">
              <label>
                <input matInput maxlength="30" placeholder="{{item.value}}" (ngModelChange)="itemChanged(userForm, item.key)" ngModel="{{userData[item.key]}}" name="{{item.key}}">
              </label>
            </mat-form-field>
          </div>
        </div>
        <div class="rightSide">
          <div *ngFor="let item of fieldsThree | keyvalue:keepOriginalOrder; trackBy: trackByFn">
            <mat-form-field class="example-full-width">
              <label>
                <input matInput maxlength="30" placeholder="{{item.value}}" (ngModelChange)="itemChanged(userForm, item.key)" ngModel="{{userData[item.key]}}" name="{{item.key}}">
              </label>
            </mat-form-field>
          </div>
          <div *ngFor="let item of fieldsFour | keyvalue:keepOriginalOrder; index as i; trackBy: trackByFn">
            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="picker" placeholder="{{item.value}}" (ngModelChange)="itemChanged(userForm, item.key)" ngModel="{{userData[item.key] | date:'yyyy-MM-dd'}}" name="{{item.key}}">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <mat-error *ngIf="!isCompleteAddress">
      Hiányzó adat a címből, kérlek ellenőrizd az irányítószámot, várost és címet!
    </mat-error>
    <mat-error *ngIf="isThereLongFieldValue">30 karakternél hosszabb mező érték ({{tooLongFieldValue}})!</mat-error>
    <div class="buttons">
      <div class="saveButton">
        <button mat-button>Mentés</button>
      </div>
      <div *ngIf="router.url == '/newUser'" class="saveButton">
        <button type="button" mat-button (click)="clearUserData()">Új felhasználó</button>
      </div>
    </div>
  </form>
</div>
