<mat-dialog-content>
  <h5>Add meg az eladáshoz kötődő adatokat!</h5>
  <div *ngIf="!remarkPartOpen && !userPartOpen">
    <form #carTimeInfoForm=ngForm (ngSubmit)="saveCarData(carTimeInfoForm)" class="carTimeInfoForm">
      <div class="dateContainer">
        <div class="leftSide">
          <div *ngFor="let item of fields1 | keyvalue:keepOriginalOrder; index as i; trackBy: trackByFn">
            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="picker" placeholder="{{item.value}}" (ngModelChange)="changeAllDateFieldIfEmptyElseOnlyThisOne($event, item.key)" [ngModelOptions]="{updateOn: 'blur'}" ngModel="{{carData[item.key] | date:'yyyy-MM-dd'}}" name="{{item.key}}">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="rightSide">
          <div>
            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="carHandoverPicker" placeholder="Autó átadásának időpontja" (ngModelChange)="changeAllDateFieldIfEmptyElseOnlyThisOne($event, 'carHandover')" [ngModelOptions]="{updateOn: 'blur'}" ngModel="{{carData.carHandover | date:'yyyy-MM-dd'}}" name="carHandover">
              <mat-datepicker-toggle matSuffix [for]="carHandoverPicker"></mat-datepicker-toggle>
              <mat-datepicker #carHandoverPicker></mat-datepicker>
            </mat-form-field>
            <ngb-timepicker [(ngModel)]="carHandoverTime" name="carHandoverTime"></ngb-timepicker>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="witnessContainer">
        <div>
          <div class="leftSide">
            <div>
              <mat-form-field class="example-full-width">
                <mat-label>Tanú 1</mat-label>
                <mat-select ngModel placeholder="Név" name="witness1">
                  <mat-option *ngFor="let witness of utilService.witnesses; trackBy: trackByFn" [value]="witness">
                    {{witness.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <mat-label>A2 Képviselő</mat-label>
              <mat-select ngModel placeholder="Név" name="representation">
                <mat-option *ngFor="let representation of listOfA2Representation; trackBy: trackByFn" [value]="representation">
                  {{representation}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="rightSide">
          <div>
            <div>
              <mat-form-field class="example-full-width">
                <mat-label>Tanú 2</mat-label>
                <mat-select ngModel placeholder="Név" name="witness2">
                  <mat-option *ngFor="let witness of utilService.witnesses; trackBy: trackByFn" [value]="witness">
                    {{witness.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="example-full-width">
                <mat-label>Vásárlás típusa</mat-label>
                <mat-select ngModel placeholder="Típus" name="typeOfBuying">
                  <mat-option *ngFor="let type of listOfTypeOfBuying; trackBy: trackByFn" [value]="type">
                    {{type}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="buttons">
        <div class="saveButton">
          <button mat-button>Tovább az adás-vételi megjegyzésekhez</button>
        </div>
        <div>
          <button type="button" class="mat-raised-button mat-accent" (click)="close()"><strong class="X">X</strong></button>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="remarkPartOpen">
    <form [formGroup]="remarkForm" (submit)="saveRemark(remarkForm)" class="remarkForm">
      <div class="remarkContainer">
        <div class="leftSide">
          <div formArrayName="description" *ngFor="let remark of remarkForm.get('description').controls; let ind = index">
            <div class="descriptions">
              <div>
                <mat-form-field class="example-full-width" [formGroupName]="ind">
                  <label>
                    <input matInput placeholder="Megjegyzés" formControlName="description">
                  </label>
                </mat-form-field>
              </div>
              <div><i class="material-icons delete" (click)="removeRemarkRow(ind)">clear</i></div>
            </div>
          </div>
        </div>
        <div class="rightSide">
          <button type="button" (click)="addNewRemarkRow(null)" class="miniFab" mat-mini-fab><i class="material-icons">add</i></button>
        </div>
      </div>
      <div class="buttons">
        <div class="saveButton">
          <button mat-button>Tovább az ügyféladatok megadásához</button>
        </div>
        <div>
          <button type="button" class="mat-raised-button mat-accent" (click)="close()"><strong class="X">X</strong></button>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="userPartOpen">
    <div *ngIf="userChooser">
      <div>
        <mat-form-field>
          <mat-label>Válassz magánszemély és cég között</mat-label>
          <mat-select [(ngModel)]="privateUserOrCorporate" name="privateOrCorporate">
            <mat-option *ngFor="let privateOrCorporate of userOrCorporate; trackBy: trackByFn" [value]="privateOrCorporate" (click)="pickPrivateOrCorporate()">
              {{privateOrCorporate}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="privateUserOrCorporate == 'MAGÁNSZEMÉLY'">
      <form #userForm=ngForm (ngSubmit)="saveUser(userForm)" class="form userForm" (keydown.enter)="$event.preventDefault()">
        <div class="userContainer">
          <div>
            <div *ngFor="let item of fields | keyvalue:keepOriginalOrder; trackBy: trackByFn">
              <mat-form-field class="example-full-width">
                <label>
                  <input matInput placeholder="{{item.value}}" ngModel="{{userData[item.key]}}" name="{{item.key}}">
                </label>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="example-full-width">
                <label>
                  <input matInput placeholder="Irányítószám" ngModel="{{userData.zipCode}}" name="zipCode" maxlength="4" type="text" pattern="\d*" (ngModelChange)="checkZipCode(userForm)">
                </label>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="example-full-width">
                <label>
                  <input matInput placeholder="Város" ngModel="{{userData.city}}" name="city">
                </label>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="example-full-width">
                <label>
                  <input matInput placeholder="Lakcím" ngModel="{{userData.address}}" name="address">
                </label>
              </mat-form-field>
            </div>
          </div>
          <div>
            <div>
              <mat-form-field class="example-full-width">
                <input matInput [matDatepicker]="birthPicker" placeholder="Születési dátum" [ngModelOptions]="{updateOn: 'blur'}" ngModel="{{userData.birthDate | date:'yyyy-MM-dd'}}" name="birthDate">
                <mat-datepicker-toggle matSuffix [for]="birthPicker"></mat-datepicker-toggle>
                <mat-datepicker #birthPicker></mat-datepicker>
              </mat-form-field>
            </div>
            <div *ngFor="let item of fieldsTwo | keyvalue:keepOriginalOrder; trackBy: trackByFn">
              <mat-form-field class="example-full-width">
                <label>
                  <input matInput placeholder="{{item.value}}" [ngModelOptions]="{updateOn: 'blur'}" ngModel="{{userData[item.key]}}" name="{{item.key}}">
                </label>
              </mat-form-field>
            </div>
          </div>
        </div>
        <mat-error *ngIf="!isCompleteAddress">
          Hiányzó adat a címből, kérlek ellenőrizd az irányítószámot, várost és címet!
        </mat-error>
        <div class="buttons">
          <div class="saveButton">
            <button mat-button>Tovább az adás-vételi szerződéshez</button>
          </div>
          <div>
            <button type="button" class="mat-raised-button mat-accent" (click)="close()"><strong class="X">X</strong></button>
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="privateUserOrCorporate == 'CÉG'">
      <form #companyForm=ngForm (ngSubmit)="saveCompany(companyForm)" class="form companyForm" (keydown.enter)="$event.preventDefault()">
        <div class="userContainer">
          <div>
            <div *ngFor="let item of companyFields | keyvalue:keepOriginalOrder; trackBy: trackByFn">
              <mat-form-field class="example-full-width">
                <label>
                  <input matInput placeholder="{{item.value}}" ngModel name="{{item.key}}">
                </label>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="example-full-width">
                <label>
                  <input matInput placeholder="Irányítószám" ngModel name="zipCode" maxlength="4" type="text" pattern="\d*" (ngModelChange)="checkZipCodeForCompany(companyForm)">
                </label>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="example-full-width">
                <label>
                  <input matInput placeholder="Város" ngModel="{{companyData.address.city}}" name="city">
                </label>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="example-full-width">
                <label>
                  <input matInput placeholder="Lakcím" ngModel name="address">
                </label>
              </mat-form-field>
            </div>
          </div>
        </div>
        <mat-error *ngIf="!isCompleteAddress">
          Hiányzó adat a címből, kérlek ellenőrizd az irányítószámot, várost és címet!
        </mat-error>
        <div class="buttons">
          <div class="saveButton">
            <button mat-button>Tovább az adás-vételi szerződéshez</button>
          </div>
          <div>
            <button type="button" class="mat-raised-button mat-accent" (click)="close()"><strong class="X">X</strong></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</mat-dialog-content>
