table {
  fa {
    cursor: pointer;
    font-size: 150%;
  }
  .plus {
    color: deeppink;
    font-size: 200%;
  }
}

.salesmanTable {
  width: 40%;
}

.witnessTable {
  width: 60%;
}

.header {
  margin-bottom: 2%;
  margin-top: 5%;
}

.settingsContainer {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.left, .right {
  width: 50%;
}
