<div>
  <table mat-table [dataSource]="salesmen" class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Név </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef><fa class="plus" name="plus-circle" (click)="openSalesmanModal()"></fa></th>
      <td mat-cell *matCellDef="let element; let salesmanIndex = index;">
        <fa class="trash" name="trash" (click)="deleteSalesman(element.id)"></fa>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="salesmanDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: salesmanDisplayedColumns;"></tr>
  </table>
</div>
