<div class="settingsContainer">
  <div class="left">
    <h5 class="header">Értékesítők</h5>
    <table mat-table [dataSource]="salesmen" class="mat-elevation-z8 salesmanTable">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Név </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef><fa class="plus" name="plus-circle" (click)="openSalesmanModal()"></fa></th>
        <td mat-cell *matCellDef="let element; let salesmanIndex = index;">
          <i class="material-icons" (click)="deleteSalesman(element.id)">delete</i>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="salesmanDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: salesmanDisplayedColumns;"></tr>
    </table>

    <h5 class="header">Tanúk</h5>
    <table mat-table [dataSource]="witnesses" class="mat-elevation-z8 witnessTable">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Név </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Id card Column -->
      <ng-container matColumnDef="idCardNumber">
        <th mat-header-cell *matHeaderCellDef> Személyi igazolvány szám </th>
        <td mat-cell *matCellDef="let element"> {{element.idCardNumber}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef><fa class="plus" name="plus-circle" (click)="openWitnessModal()"></fa></th>
        <td mat-cell *matCellDef="let element; let witnessIndex = index;">
          <i class="material-icons" (click)="deleteWitness(element.id)">delete</i>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="witnessDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: witnessDisplayedColumns;"></tr>
    </table>
  </div>
  <div class="right">
<!--    <h5 class="header">Átírási illetékhez szükséges adatok</h5>-->
<!--    <table mat-table [dataSource]="inheritanceTax1" class="mat-elevation-z8 witnessTable">-->

<!--      &lt;!&ndash; Name Column &ndash;&gt;-->
<!--      <ng-container matColumnDef="min">-->
<!--        <th mat-header-cell *matHeaderCellDef> Min </th>-->
<!--        <td mat-cell *matCellDef="let element"> {{element.min}} </td>-->
<!--      </ng-container>-->

<!--      &lt;!&ndash; Id card Column &ndash;&gt;-->
<!--      <ng-container matColumnDef="max">-->
<!--        <th mat-header-cell *matHeaderCellDef> Max </th>-->
<!--        <td mat-cell *matCellDef="let element"> {{element.max}} </td>-->
<!--      </ng-container>-->

<!--      &lt;!&ndash; Symbol Column &ndash;&gt;-->
<!--      <ng-container matColumnDef="young">-->
<!--        <th mat-header-cell *matHeaderCellDef>Fiatal</th>-->
<!--        <td mat-cell *matCellDef="let element; let witnessIndex = index;">-->
<!--          <i class="material-icons" (click)="deleteWitness(element.id)">delete</i>-->
<!--        </td>-->
<!--      </ng-container>-->

<!--      <tr mat-header-row *matHeaderRowDef="witnessDisplayedColumns"></tr>-->
<!--      <tr mat-row *matRowDef="let row; columns: witnessDisplayedColumns;"></tr>-->
<!--    </table>-->
  </div>
</div>
