table {
  fa {
    cursor: pointer;
    font-size: 150%;
  }
  .plus {
    color: deeppink;
    font-size: 200%;
    cursor: pointer;
  }
}

.salesmanTable {
  width: 40%;
}

.witnessTable {
  width: 60%;
}

.inheritanceTax1Table {
  text-align: center;
}

.header {
  margin-bottom: 2%;
  margin-top: 5%;
}

.settingsContainer {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.left, .right {
  width: 50%;
}

.mat-mdc-header-cell.iTax {
  text-align: center;
}

.mat-form-field {
  width: 30%;
}

.delete {
  cursor: pointer;
}

input {
  text-align: center;
}

