<mat-dialog-content>
  <h5>Add meg a hitel adatokat!</h5>
  <form #creditForm=ngForm (ngSubmit)="saveCredit(creditForm)" class="creditForm">
    <div>
      <div class="inputContainer">
        <div class="leftSide">
          <div>
            <mat-form-field class="example-full-width">
              <label>
                <input matInput placeholder="Bank" ngModel="{{credit.bank}}" name="bank">
              </label>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <label>
                <input matInput placeholder="Hitel típus" ngModel="{{credit.creditType}}" name="creditType">
              </label>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <label>
                <input currencyMask matInput placeholder="Kezdő befizetés" [(ngModel)]="credit.initialPayment" name="initialPayment" [options]="{ precision: 0, thousands: '.', prefix: '', align: 'left', allowNegative: false}">
              </label>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <label>
                <input currencyMask  matInput placeholder="Hitel összege" [(ngModel)]="credit.creditAmount" name="creditAmount" [options]="{ precision: 0, thousands: '.', prefix: '', align: 'left', allowNegative: true}">
              </label>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <label>
                <input currencyMask matInput placeholder="Futamidő" [(ngModel)]="credit.creditLength" name="creditLength" [options]="{ precision: 0, thousands: '.', prefix: '', align: 'left', allowNegative: false}">
              </label>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <label>
                <input currencyMask matInput placeholder="Törlesztőrészlet/hó." [(ngModel)]="credit.repayment" name="repayment" [options]="{ precision: 0, thousands: '.', prefix: '', align: 'left', allowNegative: false}">
              </label>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons">
      <div class="saveButton">
        <button mat-button>Mentés</button>
      </div>
      <div>
        <button type="button" class="mat-raised-button mat-accent" (click)="close()"><strong class="X">X</strong></button>
      </div>
    </div>
  </form>
</mat-dialog-content>
