<mat-dialog-content>
  <h5>Add meg a hitel adatokat!</h5>
  <form #creditForm=ngForm (ngSubmit)="saveCredit(creditForm)" class="creditForm">
    <div>
      <div class="inputContainer">
        <div class="leftSide">
          <div>
            <mat-form-field class="example-full-width">
              <label>
                <input matInput placeholder="Bank" ngModel="{{credit.bank}}" name="bank">
              </label>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <label>
                <input matInput placeholder="Hitel típus" ngModel="{{credit.creditType}}" name="creditType">
              </label>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <label>
                <input matInput type="number" placeholder="Kezdő befizetés" ngModel="{{credit.initialPayment}}" name="initialPayment">
              </label>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <label>
                <input matInput type="number" placeholder="Hitel összege" ngModel="{{credit.creditAmount}}" name="creditAmount">
              </label>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <label>
                <input matInput type="number" placeholder="Futamidő" ngModel="{{credit.creditLength}}" name="creditLength">
              </label>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <label>
                <input matInput type="number" placeholder="Törlesztőrészlet/hó." ngModel="{{credit.repayment}}" name="repayment">
              </label>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="saveButton">
      <button mat-button>Mentés</button>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="yesOrNoButtons">
  <button class="mat-raised-button mat-accent" (click)="close()"><strong class="X">X</strong></button>
</mat-dialog-actions>
