<div *ngIf="router.url == '/userPicker'" class="userSearchContainer">
  <div class="userFilterLeftSide">
    <mat-form-field class="searchField">
      <mat-label>Szűrési feltétel</mat-label>
      <mat-select [(ngModel)]="selectedUserFilter" name="userFilter">
        <mat-option *ngFor="let userFilter of userFilters; trackBy: trackByFn" [value]="userFilter">
          {{userFilter.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="userFilter" *ngIf="selectedUserFilter">
      <form #filterUserForm=ngForm (ngSubmit)="filterUser(filterUserForm)" class="form filterForm">
        <div class="search">
          <div class="searchType" *ngIf="selectedUserFilter.value == 'name'">
            <mat-form-field class="example-full-width searchField">
              <label>
                <input matInput maxlength="30" placeholder="Itt kereshetsz ({{selectedUserFilter.viewValue}})" ngModel name="name">
              </label>
            </mat-form-field>
            <mat-error *ngIf="isThereLongFieldValue">30 karakternél hosszabb mező érték ({{tooLongFieldValue}})!</mat-error>
          </div>
          <div class="searchType" *ngIf="selectedUserFilter.value == 'city'">
            <mat-form-field class="example-full-width searchField">
              <label>
                <input matInput maxlength="30" placeholder="Itt kereshetsz ({{selectedUserFilter.viewValue}})" ngModel name="city">
              </label>
            </mat-form-field>
            <mat-error *ngIf="isThereLongFieldValue">30 karakternél hosszabb mező érték ({{tooLongFieldValue}})!</mat-error>
          </div>
          <div>
            <button mat-button class="searchButton">Keresés</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="userFilterRightSide">
    <div>
      <table *ngIf="userSearchResult.data && userSearchResult.data.length > 0" mat-table [dataSource]="userSearchResult" class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Név </th>
          <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
        </ng-container>

        <!-- City Column -->
        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef> Város </th>
          <td mat-cell *matCellDef="let element"> {{element.city}} </td>
        </ng-container>

        <!-- Tax number Column -->
        <ng-container matColumnDef="taxNumber">
          <th mat-header-cell *matHeaderCellDef> Adószám </th>
          <td mat-cell *matCellDef="let element"> {{element.taxNumber}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> &nbsp; </th>
          <td mat-cell *matCellDef="let element; let userTableIndex = index;">
            <mat-checkbox #userTable (change)="pickUser(userTableIndex)" [checked]="indexOfPickedUser=== userTableIndex"></mat-checkbox>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="userDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: userDisplayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
