.mat-button {
  background-color: deeppink;
  color: white;
}

.saveButton {
  width: 30%;
  text-align: left;
  margin-top: 5%;
}

.inputContainer {
  width: 80%;
  display: flex;
  flex-flow: row wrap ;
  justify-content: space-between;
}

mat-form-field {
  width: 150%;
}

button:focus {
  outline: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

textarea {
  width: 300px;
  height: 300px;
}

example-year-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-year-picker .mat-calendar-arrow {
  display: none;
}
