<div class="mainContainer">
  <div class="innerContainer">
    <div class="aegonPic">
      <img src="assets/aegon.png" style="width:130px;height:50px;">
    </div>
    <div class="barcodePic">
      <img src="assets/barkod.png" style="width:200px;height:80px;">
    </div>
    <div class="praventoPic">
      <img src="assets/pravento.png" style="width:300px;height:70px;">
    </div>
    <div class="title">
      <div>
        <p><strong>AEGON Magyarország Általános Biztosító Zrt.</strong></p>
      </div>
      <div>
        <p>1091 Budapest, Üllői út 1.</p>
      </div>
    </div>
    <div class="subtitle">
      <div>
        <p><strong>Kötelező gépjármű-felelősségbiztosítási ajánlat</strong></p>
        <p><strong>Közvetítő adata:</strong>&#160; PRAEVENTIO Biztosítási Alkusz Kft. &#160;<strong>Kódja:</strong>&#160;921521</p>
        <p><strong>Praeventio ügyfélazonosító:</strong>&#160; 789589 &#160;<strong>Címe:</strong>&#160; 9022 Győr, Bajcsy-Zs. utca 52/B. </p>
      </div>
    </div>
    <div class="subtitle">
      <div>
        <p><strong>Ajánlatszám: </strong>&#160; </p>
        <p><strong>Márkakereskedő neve, címe: A2 Autócentrum Kft Kft., 8000 SZÉKESFEHÉRVÁR, Budai út 388.</strong></p>
        <p><strong>Márkakereskedő (Dealer) kódja: </strong></p>
      </div>
    </div>
    <div class="tableHeader">
      <p><strong>SZERZŐDŐ (TULAJDONOS) ADATAI </strong></p>
    </div>
    <div class="firstTableContainer">
      <table class="firstTable firstTableFirstRow">
        <tr>
          <td width="50%">Szerződő neve: <strong>A2 AUTÓCENTRUM KFT.</strong></td>
          <td width="25%">Szerződő típusa: <strong>Jogi személy</strong> </td>
          <td width="25%">Állampolgársága: </td>
        </tr>
      </table>
      <table class="firstTable firstTableMiddleRow">
        <tr>
          <td width="50%">Születéskori név: </td>
          <td width="50%">Anyja neve: </td>
        </tr>
      </table>
      <table class="firstTable firstTableMiddleRow">
        <tr>
          <td width="50%">Születési helye, ideje: </td>
          <td width="50%">Jogosítvány száma: </td>
        </tr>
      </table>
      <table class="firstTable firstTableMiddleRow">
        <tr>
          <td width="50%">Szerződő címe: <strong>8000 Székesfehérvár Budai út 388.</strong></td>
          <td width="50%">Jogosítvány megszerzésének éve: </td>
        </tr>
      </table>
      <table class="firstTable firstTableMiddleRow">
        <tr>
          <td width="100%">Szerződő levelezési címe: <strong>U.a.</strong></td>
        </tr>
      </table>
      <table class="firstTable firstTableMiddleRow">
        <tr>
          <td width="50%">Adószám: <strong>14950496-2-07</strong></td>
          <td width="50%">Telefonszám: </td>
        </tr>
      </table>
      <table class="firstTable firstTableMiddleRow">
        <tr>
          <td width="50%">Cégjegyzékszám: <strong>07-09-017350</strong></td>
          <td width="50%">Azonosító okmány típusa és száma: </td>
        </tr>
      </table>
      <table class="firstTable firstTableMiddleRow">
        <tr>
          <td width="100%">E-mail cím: </td>
        </tr>
      </table>
    </div>
    <div class="tableHeader">
      <p><strong>ÜZEMBENTARTÓ ADATAI </strong></p>
    </div>
    <div>
      <p>Azonos a szerződővel.</p>
    </div>
    <div class="tableHeader">
      <p><strong>BIZTOSÍTOTT JÁRMŰ ADATAI </strong></p>
    </div>
    <div class="secondTableContainer">
      <table class="secondTable secondTableFirstRow">
        <tr>
          <td *ngIf="insuredCar && insuredCar.plateNumber" width="30%">Rendszám: <strong>{{insuredCar.plateNumber}}</strong></td>
          <td *ngIf="!insuredCar || insuredCar && !insuredCar.plateNumber" width="30%">Rendszám: </td>
          <td *ngIf="insuredCar && insuredCar.carOrTruck" width="40%">Gépjármű fajtája: {{insuredCar.carOrTruck}}</td>
          <td *ngIf="!insuredCar || insuredCar && !insuredCar.carOrTruck" width="40%">Gépjármű fajtája: </td>
          <td *ngIf="insuredCar && insuredCar.bodyNumber" width="30%">Alvázszám: {{insuredCar.bodyNumber}}</td>
          <td *ngIf="!insuredCar || insuredCar && !insuredCar.bodyNumber" width="30%">Alvázszám: </td>
        </tr>
      </table>
      <table class="secondTable secondTableMiddleRow">
        <tr>
          <td *ngIf="insuredCar && insuredCar.name" width="30%">Gyártmány: {{insuredCar.name}}</td>
          <td *ngIf="!insuredCar || insuredCar && !insuredCar.name" width="30%">Gyártmány: </td>
          <td *ngIf="insuredCar && insuredCar.type" width="40%">Típus: {{insuredCar.type}}</td>
          <td *ngIf="!insuredCar || insuredCar && !insuredCar.type" width="40%">Típus: </td>
          <td *ngIf="insuredCar && insuredCar.engineNumber" width="30%">Motorszám: {{insuredCar.engineNumber}}</td>
          <td *ngIf="!insuredCar || insuredCar && !insuredCar.engineNumber" width="30%">Motorszám: </td>
        </tr>
      </table>
      <table class="secondTable secondTableMiddleRow">
        <tr>
          <td *ngIf="insuredCar && insuredCar.capacity" width="30%">Hengerűrtartalom(ccm): {{insuredCar.capacity}}</td>
          <td *ngIf="!insuredCar || insuredCar && !insuredCar.capacity" width="30%">Hengerűrtartalom(ccm): </td>
          <td *ngIf="insuredCar && insuredCar.kwh" width="40%">Teljesítmény(kW): {{insuredCar.kwh}}</td>
          <td *ngIf="!insuredCar || insuredCar && !insuredCar.kwh" width="40%">Teljesítmény(kW): </td>
          <td width="30%">Szállítható személyek száma(fő): <strong>5</strong></td>
        </tr>
      </table>
      <table class="secondTable secondTableMiddleRow">
        <tr>
          <td *ngIf="insuredCar && insuredCar.carRegistry" width="30%">Forgalmi eng. szám: {{insuredCar.carRegistry}}</td>
          <td *ngIf="!insuredCar || insuredCar && !insuredCar.carRegistry" width="30%">Forgalmi eng. szám: </td>
          <td *ngIf="insuredCar && insuredCar.weight" width="40%">Saját tömeg(kg): {{insuredCar.weight}}</td>
          <td *ngIf="!insuredCar || insuredCar && !insuredCar.weight" width="40%">Saját tömeg(kg): </td>
          <td *ngIf="insuredCar && insuredCar.maxWeightAllowed" width="30%">Megengedett legnagyobb össztömeg(kg): {{insuredCar.maxWeightAllowed}}</td>
          <td *ngIf="!insuredCar || insuredCar && !insuredCar.maxWeightAllowed" width="30%">Megengedett legnagyobb össztömeg(kg): </td>
        </tr>
      </table>
      <table class="secondTable secondTableMiddleRow">
        <tr>
          <td *ngIf="insuredCar && insuredCar.vintage" width="30%">Gyártás éve: {{insuredCar.vintage}}</td>
          <td *ngIf="!insuredCar || insuredCar && !insuredCar.vintage" width="30%">Gyártás éve: </td>
          <td width="40%">Magyarországi forg. Helyezés: </td>
          <td *ngIf="insuredCar && insuredCar.color" width="30%">Gépjármű színe: {{insuredCar.color}}</td>
          <td *ngIf="!insuredCar || insuredCar && !insuredCar.color" width="30%">Gépjármű színe: </td>
        </tr>
      </table>
      <table class="secondTable secondTableMiddleRow">
        <tr>
          <td *ngIf="insuredCar && insuredCar.dateOfArrival" width="30%">Tulajdonszerzés dátuma: <strong>{{insuredCar.dateOfArrival | date: 'yyyy-MM-dd'}}</strong></td>
          <td *ngIf="!insuredCar || insuredCar && !insuredCar.dateOfArrival" width="30%">Tulajdonszerzés dátuma: </td>
          <td width="40%">Szerződéskötés oka: <strong>Tulajdonszerzés</strong></td>
          <td width="30%">Használat módja: <strong>Normál</strong></td>
        </tr>
      </table>
      <table class="secondTable secondTableMiddleRow">
        <tr>
          <td width="30%">Teherbírás(kg): </td>
          <td width="40%">Üzemanyag típusa: benzin</td>
          <td width="30%">Ajtók száma: 5</td>
        </tr>
      </table>
    </div>
    <div class="tableHeader">
      <p><strong>KGFB SZERZŐDÉS ADATOK </strong></p>
    </div>
    <div class="thirdTableContainer">
      <table class="thirdTable thirdTableFirstRow">
        <tr>
          <td width="40%">Alapdíj(A0): <strong>{{insurancePrice}}</strong></td>
          <td width="30%">Bonus/Malus fokozat: <strong>A0</strong></td>
          <td width="30%">Terméktípus: KGFB</td>
        </tr>
      </table>
      <table class="thirdTable thirdTableMiddleRow">
        <tr>
          <td *ngIf="insuredCar && insuredCar.dateOfArrival" width="40%">Kockázatviselés kezdete: <strong>{{insuredCar.dateOfArrival | date: 'yyyy-MM-dd'}}</strong></td>
          <td *ngIf="!insuredCar || insuredCar && !insuredCar.dateOfArrival" width="40%">Kockázatviselés kezdete: </td>
          <td width="30%">Kockázatviselés vége: <strong>határozatlan</strong></td>
          <td width="30%">Előző szerz. megszűnés oka: </td>
        </tr>
      </table>
      <table class="thirdTable thirdTableMiddleRow">
        <tr>
          <td width="40%">Párhuzamos biztosító: </td>
          <td width="30%">Párhuzamos rendszám: </td>
          <td width="30%">Párhuzamos kötvényszám: </td>
        </tr>
      </table>
      <table class="thirdTable thirdTableMiddleRow">
        <tr>
          <td width="40%">Előző biztosítás évfordulója: </td>
          <td width="30%">Előző biztosítás kezdete: </td>
          <td width="30%">Előző biztosítás vége: </td>
        </tr>
      </table>
      <table class="thirdTable thirdTableMiddleRow">
        <tr>
          <td width="100%">Kedvezmények: </td>
        </tr>
      </table>
      <table class="thirdTable thirdTableMiddleRow">
        <tr>
          <td width="100%">Pótdíjak: </td>
        </tr>
      </table>
      <table class="thirdTable thirdTableMiddleRow">
        <tr>
          <td width="100%">Kiegészítő biztosítások: </td>
        </tr>
      </table>
      <table class="thirdTable thirdTableMiddleRow">
        <tr>
          <td width="40%">Éves díj: &#160; (Baleseti adóval: ) </td>
          <td width="30%">Kieg. biztosítások díja: </td>
          <td width="30%">Éves díj kiegészítőkkel: &#160; (B. adóval: )</td>
        </tr>
      </table>
    </div>
    <div class="tableHeader">
      <p><strong>DÍJFIZETÉSI ADATOK</strong></p>
    </div>
    <div class="fourthTableContainer">
      <table class="fourthTable fourthTableFirstRow">
        <tr>
          <td width="25%">Díjfizetés gyakorisága: <strong>éves</strong></td>
          <td width="25%">Díjfizetés módja: <strong>CSEKK</strong></td>
          <td width="25%">Gyakoriság szerinti díj: Ft</td>
          <td width="25%">Első időszaki díj: Ft</td>
        </tr>
      </table>
      <table class="fourthTable fourthTableMiddleRow">
        <tr>
          <td width="50%">Pénzintézet neve: </td>
          <td width="50%">Számlaszám: </td>
        </tr>
      </table>
      <table class="fourthTable fourthTableMiddleRow">
        <tr>
          <td width="30%">Halasztott díjfizetés: <strong>Igen</strong></td>
          <td *ngIf="insuredCar && insuredCar.dateOfArrival" width="30%">Halasztott (első) díj esedékessége: <strong>{{insuredCar.dateOfArrival | date: 'yyyy-MM-dd'}}</strong></td>
          <td *ngIf="!insuredCar || insuredCar && !insuredCar.dateOfArrival" width="30%">Halasztott (első) díj esedékessége: </td>
          <td width="30%">Halasztott (első) díj befizetés határideje: </td>
        </tr>
      </table>
      <table class="fourthTable fourthTableMiddleRow">
        <tr>
          <td width="50%">Fizetett díjelőleg: <strong>0 Ft</strong></td>
          <td width="50%">Csekk sorszám: </td>
        </tr>
      </table>
      <table class="fourthTable fourthTableMiddleRow">
        <tr>
          <td width="50%">Fedezetlenségi időszak: </td>
          <td width="50%">Fedezetlenségi díj:Ft (Baleseti adóval:  Ft) </td>
        </tr>
      </table>
    </div>
    <div class="statement">
      <p><strong>Nyilatkozat kötelező gépjármű-felelősségbiztosításhoz:</strong></p>
      <p>Tudomásul veszem, hogy a befizetett összegből a díjak a következő sorrendben kerülhetnek levonásra: 1. baleseti adó, 2. fedezetlen időszak díja, 3. biztosítási díj.</p>
    </div>
    <div class="date">
      <p *ngIf="insuredCar && insuredCar.dateOfArrival" >Kelt: Székesfehérvár, <strong>{{insuredCar.dateOfArrival | date: 'yyyy-MM-dd'}}</strong></p>
      <p *ngIf="!insuredCar || insuredCar && !insuredCar.dateOfArrival" >Kelt:</p>
    </div>
    <div class="signature">
      <img src="assets/alairas.png" style="width:150px;height:90px;">
    </div>
    <div class="signatureOwner">
      <div>mb. alkusz aláírása</div>
      <div>Dr. Vass Gábor, Ügyvezető igazgató</div>
      <div>PRAEVENTIO Biztosítási Alkusz Kft. </div>
    </div>
  </div>
</div>
<div>
  <button (click)="captureScreen()" mat-button>PDF Generálás</button>
</div>
