<div class="sellingContainer" id="sellingContainer">
  <div class="title">
    <h1 class="titleText">TULAJDONJOG ÁTRUHÁZÁSI SZERZŐDÉS</h1>
  </div>
  <div class="subText">
    <p class="textToMiddle">*(<strong class="underline">VISSZTERHES</strong>/adás-vételi szerződés/ <strong>INGYENES</strong>/ajándékozási szerződés/)</p>
    <p class="textToMiddle largerText">Amely létrejött a mai napon alulírott felek között, az alábbi jármű tulajdonjogának átruházása tárgyában:</p>
  </div>
  <div class="carGridContainer">
    <div class="carGrid">
      <table>
        <tr>
          <td *ngIf="orderedCar && orderedCar.plateNumber">&#160;Forgalmi rendszám:&#160; <strong>{{orderedCar.plateNumber}}</strong></td>
          <td *ngIf="!orderedCar || orderedCar && !orderedCar.plateNumber">&#160;Forgalmi rendszám:</td>
          <td *ngIf="orderedCar.name && orderedCar.type">&#160;Jármű gyártmánya, típusa: &#160;<strong>{{orderedCar.name}}&#160;{{orderedCar.type}}</strong></td>
          <td *ngIf="!orderedCar.name || !orderedCar.type">&#160;Jármű gyártmánya, típusa:</td>
        </tr>
        <tr>
          <td *ngIf="orderedCar.bodyNumber">&#160;Alvázszám: &#160;<strong>{{orderedCar.bodyNumber}}</strong></td>
          <td *ngIf="!orderedCar.bodyNumber">&#160;Alvázszám:</td>
          <td *ngIf="orderedCar.carRegistry">&#160;Forgalmi engedély szám: &#160;<strong>{{orderedCar.carRegistry}}</strong></td>
          <td *ngIf="!orderedCar.carRegistry">&#160;Forgalmi engedély szám:</td>
        </tr>
        <tr>
          <td *ngIf="orderedCar.engineNumber">&#160;Motorszám: &#160;<strong>{{orderedCar.engineNumber}}</strong></td>
          <td *ngIf="!orderedCar.engineNumber">&#160;Motorszám:</td>
          <td *ngIf="orderedCar.carRegistry">&#160;Törzskönyv szám: &#160;<strong>{{orderedCar.carRegistry}}</strong></td>
          <td *ngIf="!orderedCar.carRegistry">&#160;Törzskönyv szám:</td>
        </tr>
      </table>
    </div>
  </div>
  <div>
    <p class="textToMiddle largerText"><strong>természetes személy esetén</strong></p>
  </div>
  <div class="sellerBuyerContainer">
    <div class="sellerBuyer">
      <div>
        <p class="sellerBuyerText">ELADÓ</p>
      </div>
      <div>
        <p class="sellerBuyerText">VEVŐ</p>
      </div>
    </div>
  </div>
  <div class="individualSellingGridContainer">
    <div class="individualSellingGrid">
      <table>
        <col width="40%">
        <col width="20%">
        <col width="40%">
        <tr>
          <td *ngIf="sellerIndividual && sellerIndividual.fullName">&#160;<strong>{{sellerIndividual.fullName}}</strong></td>
          <td *ngIf="!sellerIndividual || sellerIndividual && !sellerIndividual.fullName"></td>
          <td class="middleColumn">Családi és utóneve</td>
          <td *ngIf="buyerIndividual && buyerIndividual.fullName">&#160;<strong>{{buyerIndividual.fullName}}</strong></td>
          <td *ngIf="!buyerIndividual || buyerIndividual && !buyerIndividual.fullName"></td>
        </tr>
        <tr>
          <td *ngIf="sellerIndividual && sellerIndividual.birthName">&#160;<strong>{{sellerIndividual.birthName}}</strong></td>
          <td *ngIf="!sellerIndividual || sellerIndividual && !sellerIndividual.birthName"></td>
          <td class="middleColumn">Születési neve</td>
          <td *ngIf="buyerIndividual && buyerIndividual.birthName">&#160;<strong>{{buyerIndividual.birthName}}</strong></td>
          <td *ngIf="!buyerIndividual || buyerIndividual && !buyerIndividual.birthName"></td>
        </tr>
        <tr>
          <td *ngIf="sellerIndividual && sellerIndividual.birthPlace && sellerIndividual.birthDate">&#160;<strong>{{sellerIndividual.birthPlace}}&#160;{{sellerIndividual.birthDate | date: "yyyy-MM-dd"}}</strong></td>
          <td *ngIf="!sellerIndividual || sellerIndividual && !sellerIndividual.birthPlace || sellerIndividual && !sellerIndividual.birthDate"></td>
          <td class="middleColumn">Születési helye, ideje</td>
          <td *ngIf="buyerIndividual && buyerIndividual.birthPlace && buyerIndividual.birthDate">&#160;<strong>{{buyerIndividual.birthPlace}}&#160;{{buyerIndividual.birthDate | date: "yyyy-MM-dd"}}</strong></td>
          <td *ngIf="!buyerIndividual || buyerIndividual && !buyerIndividual.birthPlace || buyerIndividual && !buyerIndividual.birthDate"></td>
        </tr>
        <tr>
          <td *ngIf="sellerIndividual && sellerIndividual.nameOfMother">&#160;<strong>{{sellerIndividual.nameOfMother}}</strong></td>
          <td *ngIf="!sellerIndividual || sellerIndividual && !sellerIndividual.nameOfMother"></td>
          <td class="middleColumn">Anyja születési családi és utóneve</td>
          <td *ngIf="buyerIndividual && buyerIndividual.nameOfMother">&#160;<strong>{{buyerIndividual.nameOfMother}}</strong></td>
          <td *ngIf="!buyerIndividual || buyerIndividual && !buyerIndividual.nameOfMother"></td>
        </tr>
        <tr>
          <td *ngIf="sellerIndividual && sellerIndividual.idCardNumber">&#160;<strong>{{sellerIndividual.idCardNumber}}</strong></td>
          <td *ngIf="!sellerIndividual || sellerIndividual && !sellerIndividual.idCardNumber"></td>
          <td class="middleColumn">Személyazonosságát igazoló okirat száma és típusa</td>
          <td *ngIf="buyerIndividual && buyerIndividual.idCardNumber">&#160;<strong>{{buyerIndividual.idCardNumber}}</strong></td>
          <td *ngIf="!buyerIndividual || buyerIndividual && !buyerIndividual.idCardNumber"></td>
        </tr>
        <tr>
          <td *ngIf="sellerIndividual && sellerIndividual.zipCode && sellerIndividual.city && sellerIndividual.address">&#160;<strong>{{sellerIndividual.zipCode}}&#160;{{sellerIndividual.city}}&#160;{{sellerIndividual.address}}</strong></td>
          <td *ngIf="!sellerIndividual || sellerIndividual && !sellerIndividual.zipCode || sellerIndividual && !sellerIndividual.city || sellerIndividual && !sellerIndividual.address"></td>
          <td class="middleColumn">Lakcíme</td>
          <td *ngIf="buyerIndividual && buyerIndividual.zipCode && buyerIndividual.city && buyerIndividual.address">&#160;<strong>{{buyerIndividual.zipCode}}&#160;{{buyerIndividual.city}}&#160;{{buyerIndividual.address}}</strong></td>
          <td *ngIf="!buyerIndividual || buyerIndividual && !buyerIndividual.zipCode || buyerIndividual && !buyerIndividual.city || buyerIndividual && !buyerIndividual.address"></td>
        </tr>
        <tr>
          <td *ngIf="sellerIndividual && sellerIndividual.nationality">&#160;<strong>{{sellerIndividual.nationality}}</strong></td>
          <td *ngIf="!sellerIndividual || sellerIndividual && !sellerIndividual.nationality"></td>
          <td class="middleColumn">Állampolgársága/hontalansága/</td>
          <td *ngIf="buyerIndividual && buyerIndividual.nationality">&#160;<strong>{{buyerIndividual.nationality}}</strong></td>
          <td *ngIf="!buyerIndividual || buyerIndividual && !buyerIndividual.nationality"></td>
        </tr>
      </table>
    </div>
  </div>
  <div>
    <p class="textToMiddle largerText"><strong>jogi személy illetve jogi személyiséggel nem rendelkező szervezet esetén</strong></p>
  </div>
  <div class="sellerBuyerContainer">
    <div class="sellerBuyer">
      <div>
        <p class="sellerBuyerText">ELADÓ</p>
      </div>
      <div>
        <p class="sellerBuyerText">VEVŐ</p>
      </div>
    </div>
  </div>
  <div class="corporateSellingGridContainer">
    <div class="corporateSellingGrid">
      <table>
        <col width="40%">
        <col width="20%">
        <col width="40%">
        <tr>
          <td *ngIf="sellerCompany && sellerCompany.name">&#160;<strong>{{sellerCompany.name}}</strong></td>
          <td *ngIf="!sellerCompany || sellerCompany && !sellerCompany.name"></td>
          <td class="middleColumn">Neve</td>
          <td *ngIf="buyerCompany && buyerCompany.name">&#160;<strong>{{buyerCompany.name}}</strong></td>
          <td *ngIf="!buyerCompany || buyerCompany && !buyerCompany.name"></td>
        </tr>
        <tr>
          <td *ngIf="sellerCompany && sellerCompany.address.zipcode && sellerCompany.address.city && sellerCompany.address.address">&#160;<strong>{{sellerCompany.address.zipcode}}&#160;{{sellerCompany.address.city}}&#160;{{sellerCompany.address.address}}</strong></td>
          <td *ngIf="!sellerCompany || sellerCompany && !sellerCompany.address.zipcode || sellerCompany && !sellerCompany.address.city || sellerCompany && !sellerCompany.address.address"></td>
          <td class="middleColumn">Székhelye / telephelye címe</td>
          <td *ngIf="buyerCompany && buyerCompany.address.zipcode && buyerCompany.address.city && buyerCompany.address.address">&#160;<strong>{{buyerCompany.address.zipcode}}&#160;{{buyerCompany.address.city}}&#160;{{buyerCompany.address.address}}</strong></td>
          <td *ngIf="!buyerCompany || buyerCompany && !buyerCompany.address.zipcode || buyerCompany && !buyerCompany.address.city || buyerCompany && !buyerCompany.address.address"></td>
        </tr>
        <tr>
          <td *ngIf="sellerCompany && sellerCompany.companyRegistrationNumber">&#160;<strong>{{sellerCompany.companyRegistrationNumber}}</strong></td>
          <td *ngIf="!sellerCompany || sellerCompany && !sellerCompany.companyRegistrationNumber"></td>
          <td class="middleColumn">Cégjegyzékszám / nyilvántart. szám.</td>
          <td *ngIf="buyerCompany && buyerCompany.companyRegistrationNumber">&#160;<strong>{{buyerCompany.companyRegistrationNumber}}</strong></td>
          <td *ngIf="!buyerCompany || buyerCompany && !buyerCompany.companyRegistrationNumber"></td>
        </tr>
        <tr>
          <td *ngIf="sellerCompany && sellerCompanyRepresentation">&#160;<strong>{{sellerCompanyRepresentation}}</strong></td>
          <td *ngIf="!sellerCompany || sellerCompany && !sellerCompanyRepresentation"></td>
          <td class="middleColumn">Képviselőjének családi és utóneve</td>
          <td *ngIf="buyerCompany && buyerCompanyRepresentation">&#160;<strong>{{buyerCompanyRepresentation}}</strong></td>
          <td *ngIf="!buyerCompany || buyerCompany && !buyerCompanyRepresentation"></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="carPriceBoxContainer">
    <div class="carPriceBox">
      <div>
        <p><strong>A jármű kölcsönösen kialkudott</strong></p>
      </div>
      <div class="price" fxLayout="row">
        <div fxFlex="20">
          <p *ngIf="orderedCar.price"><strong>vételára: &#160;&#160;{{orderedCar.price | number:'2.'}}</strong></p>
          <p *ngIf="!orderedCar.price"><strong>vételára:</strong></p>
        </div>
        <div fxFlex="75">
          <p *ngIf="priceInString.length > 0"><strong>Ft, azaz &#160;&#160;&#160;{{priceInString}} </strong></p>
          <p *ngIf="priceInString.length == 0"><strong>Ft, azaz </strong></p>
        </div>
        <div fxFlex="5">
          <p><strong>forint</strong></p>
        </div>
      </div>
      <div>
        <div class="buyingType" *ngIf="orderedCar.typeOfBuying && orderedCar.dueOfContract">
          <div>
            <strong>A fizetés módja, ideje:</strong>
          </div>
          <div>
            <strong>{{orderedCar.typeOfBuying}}</strong>
          </div>
          <div>
            <strong>{{orderedCar.dueOfContract | date: 'yyyy-MM-dd'}}</strong>
          </div>
        </div>
        <p *ngIf="!orderedCar.typeOfBuying || !orderedCar.dueOfContract"><strong>A fizetés módja, ideje:</strong></p>
      </div>
    </div>
  </div>
  <div class="lawPartContainer">
    <div class="lawPart">
      <div>
        <p>    1. A tulajdonátruházó a vevőt a gépkocsi műszaki állapotáról, (esetleges) sérüléseiről részletesen tájékoztatta, aki ezt tudomásul vette. </p>
        <div *ngIf="order && order.description">
          <div><p>Megjegyzés:</p></div>
          <div *ngFor="let description of order.description">
            <div *ngIf="switchBetweenA2AsBuyerOrSellerTrueIfSellerFalseIfBuyer && description.type == 'sell' || !switchBetweenA2AsBuyerOrSellerTrueIfSellerFalseIfBuyer && description.type == 'buy'" class="lawPartText"><p>-{{description.description}}</p></div>
          </div>
        </div>
        <div *ngIf="!order || order && !order.description || order && order.description.length == 0">
          <p class="lawPartText">Megjegyzés:...........................................................................................................................................................................................................</p>
          <p class="lawPartText">................................................................................................................................................................................................................................</p>
          <p class="lawPartText">................................................................................................................................................................................................................................</p>
        </div>
      </div>
      <div>
        <p>    2. A tulajdonátruházó kijelenti, hogy a gépkocsi per- és tehermentes, valamint annak tulajdonjogával szabadon rendelkezik.</p>
      </div>
      <div>
        <p>    3. Mindkét fél teljesíti a bejelentési kötelezettségét a közlekedési igazgatási hatóságnál a tulajdonjog változás hatálybalépését követő</p>
        <p class="lawPartText">(304/2009(XII.22)Korm. Rend. 2 § 1. bek.) a tulajdonátruházó 8 napon, a (1999/LXXXIV tv. (Kknyt) 33.§ (1)bek./b. pont) vevő 15 napon belül.</p>
      </div>
      <div>
        <P>    4. A felek nyilatkoznak arról, hogy ismerik a bejelentés nyilvántartásba történő bejegyzéshez fűződő joghatásokat, valamint a bejelentés elmaradásának,</P>
        <p class="lawPartText"> illetve bejelentési kötelezettség késedelmes teljesítésének jogkövetkezményeit. A nem megfelelő magánokirat alkalmatlan a közlekedési </p>
        <p class="lawPartText">igazgatási eljárásban a nyilvántartásba történő változás bejegyzésére.</p>
        <p class="lawPartText">(Amennyiben a járművet külföldre értékesítik, az eladás bejelentéséhez csatolni kell a jármű forgalmi engedélyét, törzskönyvét és rendszámtábláit.)</p>
      </div>
      <div>
        <p>     5. Ezen gépjármű tulajdonjoga a bizalmi vagyonkezelés alapján fennálló kezelt vagyonba tartozik IGEN/<strong class="underline">NEM</strong>*</p>
      </div>
    </div>
  </div>
  <div class="dateBoxContainer">
    <div class="dateBox">
      <div class="dateBoxRow" fxLayout="row">
        <div fxFlex="30">
          <p>Az okmányok átadása- átvétele: </p>
        </div>
        <div fxFlex="15">
          <p *ngIf="orderedCar.documentsHandover">év: &#160;<strong>{{orderedCar.documentsHandover | date: 'yyyy'}}</strong></p>
          <p *ngIf="!orderedCar.documentsHandover">év:</p>
        </div>
        <div fxFlex="30">
          <p *ngIf="orderedCar.documentsHandover">hó: &#160;<strong>{{orderedCar.documentsHandover | date: 'MM'}}</strong></p>
          <p *ngIf="!orderedCar.documentsHandover">hó:</p>
        </div>
        <div fxFlex="25">
          <p *ngIf="orderedCar.documentsHandover">nap: &#160;<strong>{{orderedCar.documentsHandover | date: 'dd'}}</strong></p>
          <p *ngIf="!orderedCar.documentsHandover">nap:</p>
        </div>
      </div>
      <div class="dateBoxRow" fxLayout="row">
        <div fxFlex="30">
          <p>A tulajdonjog hatálybalépésének napja:</p>
        </div>
        <div fxFlex="15">
          <p *ngIf="orderedCar.dueOfContract">év: &#160;<strong>{{orderedCar.dueOfContract | date: 'yyyy'}}</strong></p>
          <p *ngIf="!orderedCar.dueOfContract">év:</p>
        </div>
        <div fxFlex="30">
          <p *ngIf="orderedCar.dueOfContract">hó: &#160;<strong>{{orderedCar.dueOfContract | date: 'MM'}}</strong></p>
          <p *ngIf="!orderedCar.dueOfContract">hó:</p>
        </div>
        <div fxFlex="25">
          <p *ngIf="orderedCar.dueOfContract">nap: &#160;<strong>{{orderedCar.dueOfContract | date: 'dd'}}</strong></p>
          <p *ngIf="!orderedCar.dueOfContract">nap:</p>
        </div>
      </div>
      <div class="dateBoxRow" fxLayout="row">
        <div fxFlex="30">
          <p>A jármű a vevő birtokába kerül:</p>
        </div>
        <div fxFlex="15">
          <p *ngIf="orderedCar.carHandover">év: &#160;<strong>{{orderedCar.carHandover | date: 'yyyy'}}</strong></p>
          <p *ngIf="!orderedCar.carHandover">év:</p>
        </div>
        <div fxFlex="30">
          <p *ngIf="orderedCar.carHandover">hó: &#160;<strong>{{orderedCar.carHandover | date: 'MM'}}</strong></p>
          <p *ngIf="!orderedCar.carHandover">hó:</p>
        </div>
        <div fxFlex="9">
          <p *ngIf="orderedCar.carHandover">nap: &#160;<strong>{{orderedCar.carHandover | date: 'dd'}}</strong></p>
          <p *ngIf="!orderedCar.carHandover">nap:</p>
        </div>
        <div fxFlex="8">
          <p *ngIf="carHandoverTime">óra: &#160;<strong>{{carHandoverTime['hour']}}</strong></p>
          <p *ngIf="!carHandoverTime">óra:</p>
        </div>
        <div fxFlex="8">
          <p *ngIf="carHandoverTime">perc: &#160;<strong>{{carHandoverTime['minute']}}</strong></p>
          <p *ngIf="!carHandoverTime">perc:</p>
        </div>
      </div>
      <div class="dateBoxRow" fxLayout="row">
        <div fxFlex="30">
          <p>Az adásvételi szerződés kelte:</p>
        </div>
        <div fxFlex="15">
          <p *ngIf="orderedCar.dateOfContract">év: &#160;<strong>{{orderedCar.dateOfContract | date: 'yyyy'}}</strong></p>
          <p *ngIf="!orderedCar.dateOfContract">év:</p>
        </div>
        <div fxFlex="30">
          <p *ngIf="orderedCar.dateOfContract">hó: &#160;<strong>{{orderedCar.dateOfContract | date: 'MM'}}</strong></p>
          <p *ngIf="!orderedCar.dateOfContract">hó:</p>
        </div>
        <div fxFlex="25">
          <p *ngIf="orderedCar.dateOfContract">nap: &#160;<strong>{{orderedCar.dateOfContract | date: 'dd'}}</strong></p>
          <p *ngIf="!orderedCar.dateOfContract">nap:</p>
        </div>
      </div>
      <div class="dateBoxRow" fxLayout="row">
        <div fxFlex="70">
          <p>A birtokba vételkor a kilométer számláló műszer által jelzett érték (kilométer-óra állás) </p>
        </div>
        <div fxFlex="30">
          <p *ngIf="orderedCar.mileage">km: &#160;<strong>{{orderedCar.mileage | number:'2.'}}</strong></p>
          <p *ngIf="!orderedCar.mileage">km:</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <p class="textToMiddle largerText"><strong>FIGYELEM! A NYOMTATVÁNYT NÉGY PÉLDÁNYBAN KÜLÖN-KÜLÖN EREDETIBEN KELL ALÁÍRNI!</strong></p>
  </div>
  <div class="signatureBoxContainer">
    <div class="signatureBox">
      <p>Aláírások:</p>
      <div class="signature">
        <div class="upperLine">
          <p>eladó</p>
        </div>
        <div class="upperLine">
          <p>vevő</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <p class="textToMiddle">Előttünk, mint tanúk előtt</p>
  </div>
  <div class="witnessTitleContainer">
    <div class="witnessTitle">
      <div>
        <p class="witnessText">TANÚ 1.</p>
      </div>
      <div>
        <p class="witnessText">TANÚ 2.</p>
      </div>
    </div>
  </div>
  <div class="witnessBoxContainer">
    <div class="witnessBox">
      <table>
        <col width="40%">
        <col width="20%">
        <col width="40%">
        <tr>
          <td *ngIf="witness1 && witness1.name">&#160;<strong>{{witness1.name}}</strong></td>
          <td *ngIf="!witness1 || witness1 && !witness1.name"></td>
          <td class="middleColumn">Olvasható neve</td>
          <td *ngIf="witness2">&#160;<strong>{{witness2.name}}</strong></td>
          <td *ngIf="!witness2 || witness2 && !witness2.name"></td>
        </tr>
        <tr>
          <td *ngIf="witness1 && witness1.witnessAddress && witness1.witnessAddress.address && witness1.witnessAddress.zipcode && witness1.witnessAddress.city">&#160;<strong>{{witness1.witnessAddress.zipcode}}&#160;{{witness1.witnessAddress.city}}&#160;{{witness1.witnessAddress.address}}</strong></td>
          <td *ngIf="!witness1 || witness1 && !witness1.witnessAddress"></td>
          <td class="middleColumn">Lakcíme</td>
          <td *ngIf="witness2 && witness2.witnessAddress && witness2.witnessAddress.address && witness2.witnessAddress.zipcode && witness2.witnessAddress.city">&#160;<strong>{{witness2.witnessAddress.zipcode}}&#160;{{witness2.witnessAddress.city}}&#160;{{witness2.witnessAddress.address}}</strong></td>
          <td *ngIf="!witness2 || witness2 && !witness2.witnessAddress"></td>
        </tr>
        <tr>
          <td *ngIf="witness1 && witness1.idCardNumber">&#160;<strong>{{witness1.idCardNumber}}</strong></td>
          <td *ngIf="!witness1 || witness1 && !witness1.idCardNumber"></td>
          <td class="middleColumn">Szem ig. száma</td>
          <td *ngIf="witness2 && witness2.idCardNumber">&#160;<strong>{{witness2.idCardNumber}}</strong></td>
          <td *ngIf="!witness2 || witness2 && !witness2.idCardNumber"></td>
        </tr>
        <tr>
          <td></td>
          <td class="middleColumn">Aláírás</td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="lastRowContainer">
    <div class="lastRow">
      <div>
        <p>* Kérjük a megfelelőt aláhúzni.</p>
      </div>
      <div>
        <p>Az 1.-2. példány a vevőé, a 3.-4. példány az eladóé.</p>
      </div>
    </div>
  </div>
</div>
<div class="buttons">
  <div>
    <button (click)="navigateBack()" mat-button>Vissza</button>
  </div>
  <div>
    <button (click)="captureScreen()" mat-button>PDF Generálás</button>
  </div>
</div>
