<div class="sellingContainer" id="sellingContainer">
  <div class="title">
    <h1 class="titleText">TULAJDONJOG ÁTRUHÁZÁSI SZERZŐDÉS</h1>
  </div>
  <div class="subText">
    <p class="textToMiddle">*(<strong>VISSZTERHES</strong>/adás-vételi szerződés/ <strong>INGYENES</strong>/ajándékozási szerződés/)</p>
    <p class="textToMiddle largerText">Amely létrejött a mai napon alulírott felek között, az alábbi jármű tulajdonjogának átruházása tárgyában:</p>
  </div>
  <div class="carGridContainer">
    <div class="carGrid">
      <table>
        <tr>
          <td *ngIf="orderedCar.plateNumber">Forgalmi rendszám: {{orderedCar.plateNumber}}</td>
          <td *ngIf="!orderedCar.plateNumber">Forgalmi rendszám:</td>
          <td *ngIf="orderedCar.name && orderedCar.type">Jármű gyártmánya, típusa: {{orderedCar.name}}&#160;{{orderedCar.type}}</td>
          <td *ngIf="!orderedCar.name || !orderedCar.type">Jármű gyártmánya, típusa:</td>
        </tr>
        <tr>
          <td *ngIf="orderedCar.bodyNumber">Alvázszám: {{orderedCar.bodyNumber}}</td>
          <td *ngIf="!orderedCar.bodyNumber">Alvázszám:</td>
          <td *ngIf="orderedCar.carRegistry">Forgalmi engedély szám: {{orderedCar.carRegistry}}</td>
          <td *ngIf="!orderedCar.carRegistry">Forgalmi engedély szám:</td>
        </tr>
        <tr>
          <td *ngIf="orderedCar.engineNumber">Motorszám: {{orderedCar.engineNumber}}</td>
          <td *ngIf="!orderedCar.engineNumber">Motorszám:</td>
          <td *ngIf="orderedCar.carRegistry">Törzskönyv szám: {{orderedCar.carRegistry}}</td>
          <td *ngIf="!orderedCar.carRegistry">Törzskönyv szám:</td>
        </tr>
      </table>
    </div>
  </div>
  <div>
    <p class="textToMiddle largerText"><strong>természetes személy esetén</strong></p>
  </div>
  <div class="sellerBuyerContainer">
    <div class="sellerBuyer">
      <div>
        <p class="sellerBuyerText">ELADÓ</p>
      </div>
      <div>
        <p class="sellerBuyerText">VEVŐ</p>
      </div>
    </div>
  </div>
  <div class="individualSellingGridContainer">
    <div class="individualSellingGrid">
      <table>
        <col width="40%">
        <col width="20%">
        <col width="40%">
        <tr>
          <td *ngIf="sellerIndividual && sellerIndividual.fullName">{{sellerIndividual.fullName}}</td>
          <td *ngIf="!sellerIndividual || sellerIndividual && !sellerIndividual.fullName"></td>
          <td class="middleColumn">Családi és utóneve</td>
          <td *ngIf="buyerIndividual && buyerIndividual.fullName">{{buyerIndividual.fullName}}</td>
          <td *ngIf="!buyerIndividual || buyerIndividual && !buyerIndividual.fullName"></td>
        </tr>
        <tr>
          <td *ngIf="sellerIndividual && sellerIndividual.birthPlace && sellerIndividual.birthDate">{{sellerIndividual.birthPlace}}&#160;{{sellerIndividual.birthDate | date: "yyyy-MM-dd"}}</td>
          <td *ngIf="!sellerIndividual || sellerIndividual && !sellerIndividual.birthPlace || sellerIndividual && !sellerIndividual.birthDate"></td>
          <td class="middleColumn">Születési helye, ideje</td>
          <td *ngIf="buyerIndividual && buyerIndividual.birthPlace && buyerIndividual.birthDate">{{buyerIndividual.birthPlace}}&#160;{{buyerIndividual.birthDate | date: "yyyy-MM-dd"}}</td>
          <td *ngIf="!buyerIndividual || buyerIndividual && !buyerIndividual.birthPlace || buyerIndividual && !buyerIndividual.birthDate"></td>
        </tr>
        <tr>
          <td *ngIf="sellerIndividual && sellerIndividual.nameOfMother">{{sellerIndividual.nameOfMother}}</td>
          <td *ngIf="!sellerIndividual || sellerIndividual && !sellerIndividual.nameOfMother"></td>
          <td class="middleColumn">Anyja születési családi és utóneve</td>
          <td *ngIf="buyerIndividual && buyerIndividual.nameOfMother">{{buyerIndividual.nameOfMother}}</td>
          <td *ngIf="!buyerIndividual || buyerIndividual && !buyerIndividual.nameOfMother"></td>
        </tr>
        <tr>
          <td *ngIf="sellerIndividual && sellerIndividual.idCardNumber">{{sellerIndividual.idCardNumber}}</td>
          <td *ngIf="!sellerIndividual || sellerIndividual && !sellerIndividual.idCardNumber"></td>
          <td class="middleColumn">Személyazonosságát igazoló okirat száma és típusa</td>
          <td *ngIf="buyerIndividual && buyerIndividual.idCardNumber">{{buyerIndividual.idCardNumber}}</td>
          <td *ngIf="!buyerIndividual || buyerIndividual && !buyerIndividual.idCardNumber"></td>
        </tr>
        <tr>
          <td *ngIf="sellerIndividual && sellerIndividual.address">{{sellerIndividual.address}}</td>
          <td *ngIf="!sellerIndividual || sellerIndividual && !sellerIndividual.address"></td>
          <td class="middleColumn">Lakcíme</td>
          <td *ngIf="buyerIndividual && buyerIndividual.address">{{buyerIndividual.address}}</td>
          <td *ngIf="!buyerIndividual || buyerIndividual && !buyerIndividual.address"></td>
        </tr>
        <tr>
          <td></td>
          <td class="middleColumn">Állampolgársága/hontalansága/</td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
  <div>
    <p class="textToMiddle largerText"><strong>jogi személy illetve jogi személyiséggel nem rendelkező szervezet esetén</strong></p>
  </div>
  <div class="sellerBuyerContainer">
    <div class="sellerBuyer">
      <div>
        <p class="sellerBuyerText">ELADÓ</p>
      </div>
      <div>
        <p class="sellerBuyerText">VEVŐ</p>
      </div>
    </div>
  </div>
  <div class="corporateSellingGridContainer">
    <div class="corporateSellingGrid">
      <table>
        <col width="40%">
        <col width="20%">
        <col width="40%">
        <tr>
          <td *ngIf="sellerCompany && sellerCompany.name">{{sellerCompany.name}}</td>
          <td *ngIf="!sellerCompany || sellerCompany && !sellerCompany.name"></td>
          <td class="middleColumn">Neve</td>
          <td *ngIf="buyerCompany && buyerCompany.name">{{buyerCompany.name}}</td>
          <td *ngIf="!buyerCompany || buyerCompany && !buyerCompany.name"></td>
        </tr>
        <tr>
          <td *ngIf="sellerCompany && sellerCompany.address.zipcode && sellerCompany.address.city && sellerCompany.address.address">{{sellerCompany.address.zipcode}}&#160;{{sellerCompany.address.city}}&#160;{{sellerCompany.address.address}}</td>
          <td *ngIf="!sellerCompany || sellerCompany && !sellerCompany.address.zipcode || sellerCompany && !sellerCompany.address.city || sellerCompany && !sellerCompany.address.address"></td>
          <td class="middleColumn">Székhelye / telephelye címe</td>
          <td *ngIf="buyerCompany && buyerCompany.address.zipcode && buyerCompany.address.city && buyerCompany.address.address">{{buyerCompany.address.zipcode}}&#160;{{buyerCompany.address.city}}&#160;{{buyerCompany.address.address}}</td>
          <td *ngIf="!buyerCompany || buyerCompany && !buyerCompany.address.zipcode || buyerCompany && !buyerCompany.address.city || buyerCompany && !buyerCompany.address.address"></td>
        </tr>
        <tr>
          <td *ngIf="sellerCompany && sellerCompany.companyRegistrationNumber">{{sellerCompany.companyRegistrationNumber}}</td>
          <td *ngIf="!sellerCompany || sellerCompany && !sellerCompany.companyRegistrationNumber"></td>
          <td class="middleColumn">Cégjegyzékszám / nyilvántart. szám.</td>
          <td *ngIf="buyerCompany && buyerCompany.companyRegistrationNumber">{{buyerCompany.companyRegistrationNumber}}</td>
          <td *ngIf="!buyerCompany || buyerCompany && !buyerCompany.companyRegistrationNumber"></td>
        </tr>
        <tr>
          <td *ngIf="sellerCompany && sellerCompany.representation">{{sellerCompany.representation}}</td>
          <td *ngIf="!sellerCompany || sellerCompany && !sellerCompany.representation"></td>
          <td class="middleColumn">Képviselőjének családi és utóneve</td>
          <td *ngIf="buyerCompany && buyerCompany.representation">{{buyerCompany.representation}}</td>
          <td *ngIf="!buyerCompany || buyerCompany && !buyerCompany.representation"></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="carPriceBoxContainer">
    <div class="carPriceBox">
      <div>
        <p><strong>A jármű kölcsönösen kialkudott</strong></p>
      </div>
      <div class="price" fxLayout="row">
        <div fxFlex="30">
          <p *ngIf="orderedCar.price"><strong>vételára: {{orderedCar.price}}</strong></p>
          <p *ngIf="!orderedCar.price"><strong>vételára:</strong></p>
        </div>
        <div fxFlex="65">
          <p><strong>Ft, azaz </strong></p>
        </div>
        <div fxFlex="5">
          <p><strong>forint</strong></p>
        </div>
      </div>
      <div>
        <p *ngIf="orderedCar.typeOfBuying && orderedCar.dueOfContract"><strong>A fizetés módja, ideje: {{orderedCar.typeOfBuying}}&#160;{{orderedCar.dueOfContract | date: 'yyyy-MM-dd'}}</strong></p>
        <p *ngIf="!orderedCar.typeOfBuying || !orderedCar.dueOfContract"><strong>A fizetés módja, ideje:</strong></p>
      </div>
    </div>
  </div>
  <div class="lawPartContainer">
    <div class="lawPart">
      <div>
        <p>    1. A tulajdonátruházó a vevőt a gépkocsi műszaki állapotáról, (esetleges) sérüléseiről részletesen tájékoztatta, aki ezt tudomásul vette. </p>
        <p class="lawPartText">Megjegyzés:...........................................................................................................................................................................................................</p>
        <p class="lawPartText">................................................................................................................................................................................................................................</p>
        <p class="lawPartText">................................................................................................................................................................................................................................</p>
      </div>
      <div>
        <p>    2. A tulajdonátruházó kijelenti, hogy a gépkocsi per- és tehermentes, valamint annak tulajdonjogával szabadon rendelkezik.</p>
      </div>
      <div>
        <p>    3. Mindkét fél teljesíti a bejelentési kötelezettségét a közlekedési igazgatási hatóságnál a tulajdonjog változás hatálybalépését követő</p>
        <p class="lawPartText">(304/2009(XII.22)Korm. Rend. 2 § 1. bek.) a tulajdonátruházó 8 napon, a vevő 15 napon belül.</p>
      </div>
      <div>
        <P>    4. A felek nyilatkoznak arról, hogy ismerik a bejelentés nyilvántartásba történő bejegyzéshez fűződő joghatásokat, valamint a bejelentés elmaradásának,</P>
        <p class="lawPartText"> illetve bejelentési kötelezettség késedelmes teljesítésének jogkövetkezményeit. A nem megfelelő magánokirat alkalmatlan a közlekedési </p>
        <p class="lawPartText">igazgatási eljárásban a nyilvántartásba történő változás bejegyzésére.</p>
      </div>
    </div>
  </div>
  <div class="dateBoxContainer">
    <div class="dateBox">
      <div class="dateBoxRow" fxLayout="row">
        <div fxFlex="30">
          <p>Az okmányok átadása- átvétele: </p>
        </div>
        <div fxFlex="15">
          <p *ngIf="orderedCar.documentsHandover">év {{orderedCar.documentsHandover | date: 'yyyy'}}</p>
          <p *ngIf="!orderedCar.documentsHandover">év</p>
        </div>
        <div fxFlex="30">
          <p *ngIf="orderedCar.documentsHandover">hó {{orderedCar.documentsHandover | date: 'MM'}}</p>
          <p *ngIf="!orderedCar.documentsHandover">hó</p>
        </div>
        <div fxFlex="25">
          <p *ngIf="orderedCar.documentsHandover">nap {{orderedCar.documentsHandover | date: 'dd'}}</p>
          <p *ngIf="!orderedCar.documentsHandover">nap</p>
        </div>
      </div>
      <div class="dateBoxRow" fxLayout="row">
        <div fxFlex="30">
          <p>A tulajdonjog hatálybalépésének napja:</p>
        </div>
        <div fxFlex="15">
          <p *ngIf="orderedCar.dueOfContract">év {{orderedCar.dueOfContract | date: 'yyyy'}}</p>
          <p *ngIf="!orderedCar.dueOfContract">év</p>
        </div>
        <div fxFlex="30">
          <p *ngIf="orderedCar.dueOfContract">hó {{orderedCar.dueOfContract | date: 'MM'}}</p>
          <p *ngIf="!orderedCar.dueOfContract">hó</p>
        </div>
        <div fxFlex="25">
          <p *ngIf="orderedCar.dueOfContract">nap {{orderedCar.dueOfContract | date: 'dd'}}</p>
          <p *ngIf="!orderedCar.dueOfContract">nap</p>
        </div>
      </div>
      <div class="dateBoxRow" fxLayout="row">
        <div fxFlex="30">
          <p>A jármű a vevő birtokába kerül:</p>
        </div>
        <div fxFlex="15">
          <p *ngIf="orderedCar.carHandover">év {{orderedCar.carHandover | date: 'yyyy'}}</p>
          <p *ngIf="!orderedCar.carHandover">év</p>
        </div>
        <div fxFlex="30">
          <p *ngIf="orderedCar.carHandover">hó {{orderedCar.carHandover | date: 'MM'}}</p>
          <p *ngIf="!orderedCar.carHandover">hó</p>
        </div>
        <div fxFlex="9">
          <p *ngIf="orderedCar.carHandover">nap {{orderedCar.carHandover | date: 'dd'}}</p>
          <p *ngIf="!orderedCar.carHandover">nap</p>
        </div>
        <div fxFlex="8">
          <p *ngIf="carHandoverTime">óra {{carHandoverTime['hour']}}</p>
          <p *ngIf="!carHandoverTime">óra</p>
        </div>
        <div fxFlex="8">
          <p *ngIf="carHandoverTime">perc {{carHandoverTime['minute']}}</p>
          <p *ngIf="!carHandoverTime">perc</p>
        </div>
      </div>
      <div class="dateBoxRow" fxLayout="row">
        <div fxFlex="60">
          <p>A birtokba vételkor a kilométer számláló műszer által jelzett érték (kilométer-óra állás) </p>
        </div>
        <div fxFlex="40">
          <p *ngIf="orderedCar.mileage">km {{orderedCar.mileage}}</p>
          <p *ngIf="!orderedCar.mileage">km</p>
        </div>
      </div>
      <div class="dateBoxRow" fxLayout="row">
        <div fxFlex="30">
          <p>Az adásvételi szerződés kelte:</p>
        </div>
        <div fxFlex="15">
          <p *ngIf="orderedCar.dateOfContract">év {{orderedCar.dateOfContract | date: 'yyyy'}}</p>
          <p *ngIf="!orderedCar.dateOfContract">év</p>
        </div>
        <div fxFlex="30">
          <p *ngIf="orderedCar.dateOfContract">hó {{orderedCar.dateOfContract | date: 'MM'}}</p>
          <p *ngIf="!orderedCar.dateOfContract">hó</p>
        </div>
        <div fxFlex="25">
          <p *ngIf="orderedCar.dateOfContract">nap {{orderedCar.dateOfContract | date: 'dd'}}</p>
          <p *ngIf="!orderedCar.dateOfContract">nap</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <p class="textToMiddle largerText"><strong>FIGYELEM! A NYOMTATVÁNYT NÉGY PÉLDÁNYBAN KÜLÖN-KÜLÖN EREDETIBEN KELL ALÁÍRNI!</strong></p>
  </div>
  <div class="signatureBoxContainer">
    <div class="signatureBox">
      <p>Aláírások:</p>
      <div class="signature">
        <div class="upperLine">
          <p>eladó</p>
        </div>
        <div class="upperLine">
          <p>vevő</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <p class="textToMiddle">Előttünk, mint tanúk előtt</p>
  </div>
  <div class="witnessTitleContainer">
    <div class="witnessTitle">
      <div>
        <p class="witnessText">TANÚ 1.</p>
      </div>
      <div>
        <p class="witnessText">TANÚ 2.</p>
      </div>
    </div>
  </div>
  <div class="witnessBoxContainer">
    <div class="witnessBox">
      <table>
        <col width="40%">
        <col width="20%">
        <col width="40%">
        <tr>
          <td></td>
          <td class="middleColumn">Olvasható neve</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td class="middleColumn">Lakcíme</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td class="middleColumn">Szem ig. száma</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td class="middleColumn">Aláírás</td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="lastRowContainer">
    <div class="lastRow">
      <div>
        <p>* Kérjük a megfelelőt aláhúzni.</p>
      </div>
      <div>
        <p>Az 1.-2. példány a vevőé, a 3.-4. példány az eladóé.</p>
      </div>
    </div>
  </div>
</div>
<div>
  <button (click)="captureScreen()" mat-button>PDF Generálás</button>
</div>
