#sellingContainer {
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
}

.title {
  margin-top: 3%;
  margin-bottom: 2%;
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.titleText {
  font-family: "Times New Roman", Times, serif;
  font-size: 280%;
  font-style: italic;
  font-weight: bolder;
}

.largerText {
  font-family: "Times New Roman", Times, serif;
  font-size: 130%;
  margin-bottom: 0;
}

.textToMiddle {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin-bottom: 0;
}

.sellerBuyer {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.sellerBuyerText {
  font-family: "Times New Roman", Times, serif;
  font-size: 130%;
  font-weight: bolder;
}

.sellerBuyerContainer, .carGridContainer, .individualSellingGridContainer, .corporateSellingGridContainer, .carPriceBoxContainer, .lawPartContainer, .dateBoxContainer, .signatureBoxContainer, .witnessTitleContainer, .witnessBoxContainer, .lastRowContainer {
  display: flex;
  justify-content: center;
}

.carGrid {
  display: flex;
  width: 100%;
}

.carGridLeft, .carGridRight {
  width: 50%;
}

.carTable {
  table-layout: fixed;
}

.carTableCell {
  width: 50%;
}

.border{
  border: 1px solid black !important;
}

.individualSellingGrid, .corporateSellingGrid {
  width: 100%;
}

table, th, td, .dateBox, .signatureBox {
  border: 1px solid black;
}

td {
  font-family: "Times New Roman", Times, serif;
  font-size: 115%;
}

table {
  width: 100%;
}

.middleColumn {
  text-align: center;
  line-height: 115%;
}

.carPriceBox {
  border: 1px solid black;
  width: 100%;
  margin-top: 3%;
  margin-bottom: 3%;
  padding-left: 1%;
  padding-right: 1%;
}

.carPriceBoxText {
  font-family: "Times New Roman", Times, serif;
  font-size: 115%;
  margin-bottom: 0;
}

.price {
  display: flex;
  justify-content: space-between;
}

.lawPart {
  width: 90%;
  p {
    margin-bottom: 0;
  }
}

.lawPartText {
  margin-left: 6%;
}

.dateBox {
  margin-top: 3%;
  margin-bottom: 1%;
  width: 100%;
  padding-left: 1%;
}

.signatureBox {
  margin-top: 1%;
  margin-bottom: 1%;
  width: 100%;
  padding-top: 1%;
  padding-left: 1%;
}

.signature {
  display: flex;
  justify-content: space-evenly;
}

.witnessTitle {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.upperLine {
  border-top: 1px solid black;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  min-width: 20%;
}

.witnessText {
  font-size: 130%;
  font-weight: bolder;
}

.witnessBox {
  width: 100%;
}

.lastRow {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

button {
  background-color: deeppink;
  color: white;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buyingType {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.dateBoxRowText {
  font-family: "Times New Roman", Times, serif;
  font-size: 115%;
  margin-bottom: 0;
}
