<div class="company-container">
  <form #companyForm=ngForm (ngSubmit)="saveCompany(companyForm)" class="companyForm" (keydown.enter)="$event.preventDefault()">
    <h5>Új céges vásárló adatai</h5>
    <div>
      <div class="inputContainer">
        <div class="leftSide">
          <div>
            <mat-form-field class="example-full-width">
              <label>
                <input matInput placeholder="Cégnév" (ngModelChange)="itemChanged(companyForm)" ngModel="{{companyData.name}}" name="name">
              </label>
            </mat-form-field>
          </div>
          <div *ngFor="let item of fields | keyvalue:keepOriginalOrder; trackBy: trackByFn">
            <mat-form-field class="example-full-width">
              <label>
                <input matInput placeholder="{{item.value}}" (ngModelChange)="itemChanged(companyForm)" ngModel="{{companyData.address[item.key]}}" name="{{item.key}}">
              </label>
            </mat-form-field>
          </div>
        </div>
        <div class="rightSide">
          <div *ngFor="let item of fields2 | keyvalue:keepOriginalOrder; trackBy: trackByFn">
            <mat-form-field class="example-full-width">
              <label>
                <input matInput placeholder="{{item.value}}" (ngModelChange)="itemChanged(companyForm)" ngModel="{{companyData[item.key]}}" name="{{item.key}}">
              </label>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <label>
                <input matInput [formControl]="emailFormControl"
                       [errorStateMatcher]="matcher" placeholder="E-mail cím" (ngModelChange)="itemChanged(companyForm)" ngModel="{{companyData.email}}" name="email">
              </label>
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Kérlek adj meg megfelelő e-mail címet :)
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <mat-error *ngIf="!isCompleteAddress">
      Hiányzó adat a címből, kérlek ellenőrizd az irányítószámot, várost és címet!
    </mat-error>
    <div class="buttons">
      <div class="saveButton">
        <button mat-button>Mentés</button>
      </div>
      <div class="saveButton">
        <button type="button" mat-button (click)="clearCompanyData()">Új felhasználó</button>
      </div>
    </div>
  </form>
</div>
