.mat-button {
  background-color: deeppink;
  color: white;
}

button:focus {
  outline: none;
}

.inputContainer {
  width: 55%;
  display: flex;
  justify-content: space-between;
}

mat-form-field {
  width: 150%;
}

.buttons{
  display: flex;
  justify-content: space-between;
  width: 60%;
}
