<div class="header">
  <div class="headerLeft">
    <img src="assets/logo.png">
  </div>
  <div class="headerRight">
      <h5>Székesfehérvár, Budai út 388.      Tel.: 06 22 305110,</h5>
      <h5>Mobil: 06 30 3781622 vagy 06 70 3693785</h5>
      <h5>Nyitva: H.-P.: 08:30-17:00, Szo.: 9:00-13:00, V.: Zárva</h5>
  </div>
</div>
<div class="title">
  <h1 class="titleText">Használt gépjármű megrendelő lap</h1>
</div>
<div class="gridContainer">
  <div class="mainGrid">
    <div class="leftGrid">
      <div class="border">
        <p class="sectionLiner">Fizetési mód:</p>
      </div>
      <div class="border">
        <p class="sectionLiner">Várható átadás:</p>
      </div>
      <div class="silverCenter border">
        <p class="sectionLiner">Gépjármű adatai:</p>
      </div>
      <div class="border">
        <p class="texts">Típus:</p>
      </div>
      <div class="border">
        <p class="texts">&nbsp;</p>
      </div>
      <div class="border">
        <p class="texts">Szín:</p>
      </div>
      <div class="border">
        <p class="texts">Alvázszám: </p>
      </div>
      <div class="border">
        <p class="texts">Motorszám:</p>
      </div>
      <div class="border">
        <p class="texts">Hengerűrtartalom:</p>
      </div>
      <div class="border">
        <p class="texts">Évjárat:</p>
      </div>
      <div class="border">
        <p class="texts">Műszaki vizsga:</p>
      </div>
      <div class="border">
        <p class="texts">Km óra állása:</p>
      </div>
      <div class="border">
        <p class="texts">Vételár:</p>
      </div>
      <div class="silverCenter border">
        <p class="sectionLiner">Hitel adatai:</p>
      </div>
      <div class="border">
        <p class="texts">Bank:</p>
      </div>
      <div class="border">
        <p class="texts">Hitel típus:</p>
      </div>
      <div class="border">
        <p class="texts">Hitel önrésze:</p>
      </div>
      <div class="border">
        <p class="texts">Hitel összege:</p>
      </div>
      <div class="border">
        <p class="texts">Futamidő:</p>
      </div>
      <div class="border">
        <p class="texts">Havi törlesztő részlet:</p>
      </div>
      <div class="silverCenter border">
        <p class="sectionLiner">Fizetendő:</p>
      </div>
      <div class="border">
        <p class="subSectionLiner">Vételár:</p>
      </div>
      <div class="border">
        <p class="texts">Átírás/Ügyintézés:</p>
      </div>
      <div class="border">
        <p class="texts">Kiegészítők összege:</p>
      </div>
      <div class="silverCenter border">
        <p class="sectionLiner">Fizetve:</p>
      </div>
      <div class="border">
        <p class="texts">Foglaló (Fizetve):</p>
      </div>
      <div class="border">
        <p class="texts">Előleg:</p>
      </div>
      <div class="border">
        <p class="subSectionLiner">Hitelösszeg:</p>
      </div>
      <div class="silverCenter border">
        <p class="sectionLiner">További befizetések:</p>
      </div>
      <div class="border">
        <p class="texts">&nbsp;</p>
      </div>
      <div class="border">
        <p class="subSectionLiner">Maradék befizetendő:</p>
      </div>
    </div>
    <div class="rightGrid">
      <div class="silverStart border">
        <p class="sectionLiner">Rendszám:</p>
      </div>
      <div class="border">
        <p class="sectionLiner">Értékesítő:</p>
      </div>
      <div class="silverCenter border">
        <p class="sectionLiner">Vevő adatai:</p>
      </div>
      <div class="border">
        <p class="texts">Név:</p>
      </div>
      <div class="border">
        <p class="texts">Lánykori név:</p>
      </div>
      <div class="border">
        <p class="texts">Helység:</p>
      </div>
      <div class="border">
        <p class="texts">Cím:</p>
      </div>
      <div class="border">
        <p class="texts">Telefon:</p>
      </div>
      <div class="border">
        <p class="texts">Mobiltelefon:</p>
      </div>
      <div class="border">
        <p class="texts">Születési hely:</p>
      </div>
      <div class="border">
        <p class="texts">Születési idő:</p>
      </div>
      <div class="border">
        <p class="texts">Személyi szám:</p>
      </div>
      <div class="border">
        <p class="texts">Anyja neve:</p>
      </div>
      <div class="border">
        <p class="texts">Személyi ig. szám:</p>
      </div>
      <div class="border">
        <p class="texts">Személyi ig. érvényesség:</p>
      </div>
      <div class="border">
        <p class="texts">Jogosítvány szám:</p>
      </div>
      <div class="border">
        <p class="texts">Jogosítvány megszerzése:</p>
      </div>
      <div class="silverCenter border">
        <p class="sectionLiner">Beszámított gépjármű:</p>
      </div>
      <div class="border">
        <p class="texts">Rendszám:</p>
      </div>
      <div class="border">
        <p class="texts">Típus:</p>
      </div>
      <div class="border">
        <p class="texts">Felszereltség:</p>
      </div>
      <div class="border">
        <p class="texts">Évjárat:</p>
      </div>
      <div class="border">
        <p class="texts">Hengerűrtartalom:</p>
      </div>
      <div class="border">
        <p class="texts">Műszaki érvényesség:</p>
      </div>
      <div class="border">
        <p class="texts">Futott km:</p>
      </div>
      <div class="border">
        <p class="texts">Megjegyzés:</p>
      </div>
      <div class="silverCenter border">
        <p class="sectionLiner">Kiegészítések:</p>
      </div>
      <div class="extraCarInfo">
        <p class="texts">&nbsp;</p>
      </div>
    </div>
  </div>
</div>
<div class="date">
  <p class="texts">Kelt., Székesfehérvár, </p>
</div>
<div class="signature">
  <p class="upperLine texts">Vásárló aláírása</p>
  <p class="upperLine texts">A2 Autócentrum Kft. aláírása</p>
</div>
