#orderContainer {
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

.titleText {
  font-size: 300%;
  font-style: italic;
  font-weight: bolder;
}

.gridContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}

.mainGrid {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: 100%;
}

.leftGrid, .rightGrid {
  width: 50%;
}

.border{
  border: 1px solid black !important;
}

.sectionLiner {
  font-weight: bolder;
  font-size: 200%;
}

.silverStart {
  background-color: silver;
}

.silverCenter {
  background-color: silver;
  text-align: center;
}

.subSectionLiner {
  font-weight: bold;
  font-size: 180%;
}

.texts {
  font-size: 170%;
}

p, h1 {
  font-family: "Times New Roman", Times, serif;
}

p {
  margin-bottom: 0;
  margin-top: 0;
}

.extraCarInfo {
  border-top: 1px solid black;
}

.date {
  margin-bottom: 6%;
  margin-left: 10%;
}

.signature {
  display: flex;
  justify-content: space-evenly;
}

.upperLine {
  border-top: 1px solid black;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  min-width: 20%;
}

button {
  background-color: deeppink;
  color: white;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
