<div id="orderContainer">
  <div class="header">
    <div class="headerLeft">
      <img src="assets/logo.png" style="width:600px;height:90px;">
    </div>
    <div class="headerRight">
      <h5>Székesfehérvár, Budai út 388.      Tel.: 06 22 305110,</h5>
      <h5>Mobil: 06 30 3781622 vagy 06 70 3693785</h5>
      <h5>Nyitva: H.-P.: 08:30-17:00, Szo.: 9:00-13:00, V.: Zárva</h5>
    </div>
  </div>
  <div class="title">
    <h1 class="titleText">Használt gépjármű megrendelő lap</h1>
  </div>
  <div class="gridContainer">
    <div class="mainGrid">
      <div class="leftGrid">
        <div class="border">
          <p *ngIf="order && order.selectedTypeOfBuying" class="sectionLiner">Fizetési mód: {{order.selectedTypeOfBuying}}</p>
          <p *ngIf="!order || order && !order.selectedTypeOfBuying" class="sectionLiner">Fizetési mód:</p>
        </div>
        <div class="border">
          <p *ngIf="orderedCar.carHandover" class="sectionLiner">Várható átadás: {{orderedCar.carHandover | date:'yyyy-MM-dd'}}</p>
          <p *ngIf="!orderedCar.carHandover" class="sectionLiner">Várható átadás:</p>
        </div>
        <div class="silverCenter border">
          <p class="sectionLiner">Gépjármű adatai:</p>
        </div>
        <div class="border">
          <p *ngIf="orderedCar.type" class="texts">Típus: <strong>{{orderedCar.type}}</strong> </p>
          <p *ngIf="!orderedCar.type" class="texts">Típus:</p>
        </div>
        <div class="border">
          <p *ngIf="orderedCar.name" class="texts">Model: <strong>{{orderedCar.name}}</strong></p>
          <p *ngIf="!orderedCar.name" class="texts">Model:</p>
        </div>
        <div class="border">
          <p *ngIf="orderedCar.color" class="texts">Szín: <strong>{{orderedCar.color}}</strong></p>
          <p *ngIf="!orderedCar.color" class="texts">Szín:</p>
        </div>
        <div class="border">
          <p *ngIf="orderedCar.bodyNumber" class="texts">Alvázszám: <strong>{{orderedCar.bodyNumber}}</strong></p>
          <p *ngIf="!orderedCar.bodyNumber" class="texts">Alvázszám:</p>
        </div>
        <div class="border">
          <p *ngIf="orderedCar.engineNumber" class="texts">Motorszám: <strong>{{orderedCar.engineNumber}}</strong></p>
          <p *ngIf="!orderedCar.engineNumber" class="texts">Motorszám:</p>
        </div>
        <div class="border">
          <p *ngIf="orderedCar.capacity" class="texts">Hengerűrtartalom: <strong>{{orderedCar.capacity}} cm&#179;</strong></p>
          <p *ngIf="!orderedCar.capacity" class="texts">Hengerűrtartalom:</p>
        </div>
        <div class="border">
          <p *ngIf="orderedCar.vintage" class="texts">Évjárat: <strong>{{orderedCar.vintage}}</strong></p>
          <p *ngIf="!orderedCar.vintage" class="texts">Évjárat:</p>
        </div>
        <div class="border">
          <p *ngIf="orderedCar.motExpiry" class="texts">Műszaki vizsga: <strong>{{orderedCar.motExpiry | date:'yyyy-MM-dd'}}</strong></p>
          <p *ngIf="!orderedCar.motExpiry" class="texts">Műszaki vizsga:</p>
        </div>
        <div class="border">
          <p *ngIf="orderedCar.mileage" class="texts">Km óra állása: <strong>{{orderedCar.mileage}} km</strong></p>
          <p *ngIf="!orderedCar.mileage" class="texts">Km óra állása:</p>
        </div>
        <div class="border">
          <p *ngIf="orderedCar.price" class="texts">Vételár: <strong>{{orderedCar.price  | number: '2.'}} Ft</strong></p>
          <p *ngIf="!orderedCar.price" class="texts">Vételár:</p>
        </div>
        <div class="silverCenter border">
          <p class="sectionLiner">Hitel adatai:</p>
        </div>
        <div class="border">
          <p *ngIf="order && order.credit && order.credit.bank" class="texts">Bank: <strong>{{order.credit.bank}}</strong></p>
          <p *ngIf="!order || order && !order.credit || order.credit && !order.credit.bank" class="texts">Bank:</p>
        </div>
        <div class="border">
          <p *ngIf="order && order.credit && order.credit.creditType" class="texts">Hitel típus: <strong>{{order.credit.creditType}}</strong></p>
          <p *ngIf="!order || order && !order.credit || order.credit && !order.credit.creditType" class="texts">Hitel típus:</p>
        </div>
        <div class="border">
          <p *ngIf="order && order.credit && order.credit.initialPayment" class="texts">Hitel önrésze: <strong>{{order.credit.initialPayment | number: '2.'}} Ft</strong></p>
          <p *ngIf="!order || order && !order.credit || order.credit && !order.credit.initialPayment" class="texts">Hitel önrésze:</p>
        </div>
        <div class="border">
          <p *ngIf="order && order.credit && order.credit.creditAmount" class="texts">Hitel összege: <strong>{{order.credit.creditAmount | number: '2.'}} Ft</strong></p>
          <p *ngIf="!order || order && !order.credit || order.credit && !order.credit.creditAmount" class="texts">Hitel összege:</p>
        </div>
        <div class="border">
          <p *ngIf="order && order.credit && order.credit.creditLength" class="texts">Futamidő(hó): <strong>{{order.credit.creditLength}}</strong></p>
          <p *ngIf="!order || order && !order.credit || order.credit && !order.credit.creditLength" class="texts">Futamidő:</p>
        </div>
        <div class="border">
          <p *ngIf="order && order.credit && order.credit.repayment" class="texts">Havi törlesztő részlet: <strong>{{order.credit.repayment | number: '2.'}} Ft</strong></p>
          <p *ngIf="!order || order && !order.credit || order.credit && !order.credit.repayment" class="texts">Havi törlesztő részlet:</p>
        </div>
        <div class="silverCenter border">
          <p class="sectionLiner">Fizetendő:</p>
        </div>
        <div class="border">
          <p *ngIf="orderedCar.price" class="subSectionLiner">Vételár: <strong>{{orderedCar.price | number: '2.'}} Ft</strong></p>
          <p *ngIf="!orderedCar.price" class="subSectionLiner">Vételár:</p>
        </div>
        <div class="border">
          <p *ngIf="order && order.inheritanceTax" class="texts">Átírás/Ügyintézés: <strong>{{order.inheritanceTax | number: '2.'}} Ft</strong></p>
          <p *ngIf="!order || order && !order.inheritanceTax" class="texts">Átírás/Ügyintézés:</p>
        </div>
        <div class="border">
          <p *ngIf="extraAmountChargedForTheUser" class="texts">Kiegészítők összege: <strong>{{extraAmountChargedForTheUser | number: '2.'}} Ft</strong></p>
          <p *ngIf="!extraAmountChargedForTheUser" class="texts">Kiegészítők összege:</p>
        </div>
        <div class="silverCenter border">
          <p class="sectionLiner">Fizetve:</p>
        </div>
        <div class="border">
          <p *ngIf="orderedCar.downPayment" class="texts">Foglaló (Fizetve): <strong>{{orderedCar.downPayment | number: '2.'}} Ft</strong></p>
          <p *ngIf="!orderedCar.downPayment" class="texts">Foglaló (Fizetve):</p>
        </div>
        <div class="border">
          <p *ngIf="order && order.countInCarSupplement && order.countInCarSupplement.countInPrice" class="texts">Beszámítási érték: <strong>{{order.countInCarSupplement.countInPrice | number: '2.'}} Ft</strong></p>
          <p *ngIf="!order || order && !order.countInCarSupplement || order.countInCarSupplement && !order.countInCarSupplement.countInPrice" class="texts">Beszámítási érték:</p>
        </div>
        <div class="border">
          <p *ngIf="order && order.credit && order.credit.creditAmount" class="subSectionLiner">Hitelösszeg: <strong>{{order.credit.creditAmount | number: '2.'}} Ft</strong></p>
          <p *ngIf="!order || order && !order.credit || order.credit && !order.credit.creditAmount" class="subSectionLiner">Hitelösszeg:</p>
        </div>
        <div class="silverCenter border">
          <p class="sectionLiner">További befizetések:</p>
        </div>
        <div class="border">
          <p *ngIf="order && order.extra" class="texts">Előleg: <strong>{{order.extra | number: '2.'}} Ft</strong></p>
          <p *ngIf="!order || order && !order.extra" class="texts">Előleg:</p>
        </div>
        <div class="border">
          <p class="subSectionLiner">Maradék befizetendő: {{remainingPrice | number: '2.'}} Ft</p>
        </div>
      </div>
      <div class="rightGrid">
        <div class="silverStart border">
          <p *ngIf="orderedCar.plateNumber" class="sectionLiner">Rendszám: {{orderedCar.plateNumber}}</p>
          <p *ngIf="!orderedCar.plateNumber" class="sectionLiner">Rendszám:</p>
        </div>
        <div class="border">
          <p *ngIf="orderedCar.salesman" class="sectionLiner">Értékesítő: {{orderedCar.salesman}}</p>
          <p *ngIf="!orderedCar.salesman" class="sectionLiner">Értékesítő:</p>
        </div>
        <div class="silverCenter border">
          <p class="sectionLiner">Vevő adatai:</p>
        </div>
        <div class="border">
          <p *ngIf="order && order.users && order.users.fullName" class="texts">Név: <strong>{{order.users.fullName}}</strong></p>
          <p *ngIf="!order || order && !order.users || order.users && !order.users.fullName" class="texts">Név:</p>
        </div>
        <div class="border">
          <p *ngIf="order && order.users && order.users.birthName" class="texts">Születési név: <strong>{{order.users.birthName}}</strong></p>
          <p *ngIf="!order || order && !order.users || order.users && !order.users.birthName" class="texts">Születési név:</p>
        </div>
        <div class="border">
          <p *ngIf="order && order.users && order.users.city" class="texts">Helység: <strong>{{order.users.city}}</strong></p>
          <p *ngIf="!order || order && !order.users || order.users && !order.users.city" class="texts">Helység:</p>
        </div>
        <div class="border">
          <p *ngIf="order && order.users && order.users.address"class="texts">Cím: <strong>{{order.users.address}}</strong></p>
          <p *ngIf="!order || order && !order.users || order.users && !order.users.address" class="texts">Cím:</p>
        </div>
        <div class="border">
          <p *ngIf="order && order.users && order.users.phoneNumber" class="texts">Telefon: <strong>{{order.users.phoneNumber}}</strong></p>
          <p *ngIf="!order || order && !order.users || order.users && !order.users.phoneNumber" class="texts">Telefon:</p>
        </div>
        <div class="border">
          <p *ngIf="order && order.users && order.users.email" class="texts">E-mail: <strong>{{order.users.email}}</strong></p>
          <p *ngIf="!order || order && !order.users || order.users && !order.users.email" class="texts">E-mail:</p>
        </div>
        <div class="border">
          <p *ngIf="order && order && order.users && order.users.birthPlace" class="texts">Születési hely: <strong>{{order.users.birthPlace}}</strong></p>
          <p *ngIf="!order || order && !order || order && !order.users || order.users && !order.users.birthPlace" class="texts">Születési hely:</p>
        </div>
        <div class="border">
          <p *ngIf="order && order.users && order.users.birthDate" class="texts">Születési idő: <strong>{{order.users.birthDate | date:'yyyy-MM-dd'}}</strong></p>
          <p *ngIf="!order || order && !order.users || order.users && !order.users.birthDate" class="texts">Születési idő:</p>
        </div>
        <div class="border">
          <p *ngIf="order && order.users && order.users.personNumber" class="texts">Személyi szám: <strong>{{order.users.personNumber}}</strong></p>
          <p *ngIf="!order || order && !order.users || order.users && !order.users.personNumber" class="texts">Személyi szám:</p>
        </div>
        <div class="border">
          <p *ngIf="order && order.users && order.users.nameOfMother" class="texts">Anyja neve: <strong>{{order.users.nameOfMother}}</strong></p>
          <p *ngIf="!order || order && !order.users || order.users && !order.users.nameOfMother" class="texts">Anyja neve:</p>
        </div>
        <div class="border">
          <p *ngIf="order && order.users && order.users.idCardNumber" class="texts">Személyi ig. szám: <strong>{{order.users.idCardNumber}}</strong></p>
          <p *ngIf="!order || order && !order.users || order.users && !order.users.idCardNumber" class="texts">Személyi ig. szám:</p>
        </div>
        <div class="border">
          <p *ngIf="order && order.users && order.users.dueTimeOfIdCard" class="texts">Személyi ig. érvényesség: <strong>{{order.users.dueTimeOfIdCard | date:'MM/yy'}}</strong></p>
          <p *ngIf="!order || order && !order.users || order.users && !order.users.dueTimeOfIdCard" class="texts">Személyi ig. érvényesség:</p>
        </div>
        <div class="border">
          <p *ngIf="order && order.users && order.users.drivingLicenceNumber" class="texts">Jogosítvány szám: <strong>{{order.users.drivingLicenceNumber}}</strong></p>
          <p *ngIf="!order || order && !order.users || order.users && !order.users.drivingLicenceNumber" class="texts">Jogosítvány szám:</p>
        </div>
        <div class="border">
          <p *ngIf="order && order.users && order.users.dueTimeOfDrivingLicence" class="texts">Jogosítvány lejárata: <strong>{{order.users.dueTimeOfDrivingLicence | date:'yyyy-MM-dd'}}</strong></p>
          <p *ngIf="!order || order && !order.users || order.users && !order.users.dueTimeOfDrivingLicence" class="texts">Jogosítvány lejárata:</p>
        </div>
        <div class="silverCenter border">
          <p class="sectionLiner">Beszámított gépjármű:</p>
        </div>
        <div class="border">
          <p *ngIf="order && order.countInCar && order.countInCar.plateNumber" class="texts">Rendszám: <strong>{{order.countInCar.plateNumber}}</strong></p>
          <p *ngIf="!order || order && !order.countInCar || order.countInCar && !order.countInCar.plateNumber" class="texts">Rendszám:</p>
        </div>
        <div class="border">
          <p *ngIf="order && order.countInCar && order.countInCar.type" class="texts">Típus: <strong>{{order.countInCar.type}}</strong></p>
          <p *ngIf="!order || order && !order.countInCar || order.countInCar && !order.countInCar.type" class="texts">Típus:</p>
        </div>
        <div class="border">
          <p *ngIf="order && order.countInCar && order.countInCar.name" class="texts">Model: <strong>{{order.countInCar.name}}</strong></p>
          <p *ngIf="!order || order && !order.countInCar || order.countInCar && !order.countInCar.name" class="texts">Típus:</p>
        </div>
        <div class="border">
          <p *ngIf="order && order.countInCar && order.countInCar.specification" class="texts">Felszereltség: <strong>{{order.countInCar.specification}}</strong></p>
          <p *ngIf="!order || order && !order.countInCar || order.countInCar && !order.countInCar.specification" class="texts">Felszereltség:</p>
        </div>
        <div class="border">
          <p *ngIf="order && order.countInCar && order.countInCar.vintage" class="texts">Évjárat: <strong>{{order.countInCar.vintage}}</strong></p>
          <p *ngIf="!order || order && !order.countInCar || order.countInCar && !order.countInCar.vintage" class="texts">Évjárat:</p>
        </div>
        <div class="border">
          <p *ngIf="order && order.countInCar && order.countInCar.capacity" class="texts">Hengerűrtartalom: <strong>{{order.countInCar.capacity}}</strong></p>
          <p *ngIf="!order || order && !order.countInCar || order.countInCar && !order.countInCar.capacity" class="texts">Hengerűrtartalom:</p>
        </div>
        <div class="border">
          <p *ngIf="order && order.countInCar && order.countInCar.motExpiry" class="texts">Műszaki érvényesség: <strong>{{order.countInCar.motExpiry | date: 'yyyy-MM-dd'}}</strong></p>
          <p *ngIf="!order || order && !order.countInCar || order.countInCar && !order.countInCar.motExpiry" class="texts">Műszaki érvényesség:</p>
        </div>
        <div class="border">
          <p *ngIf="order && order.countInCar && order.countInCar.mileage" class="texts">Futott km: <strong>{{order.countInCar.mileage}} km</strong></p>
          <p *ngIf="!order || order && !order.countInCar || order.countInCar && !order.countInCar.mileage" class="texts">Futott km:</p>
        </div>
        <div class="silverCenter border">
          <p class="sectionLiner">Kiegészítések:</p>
        </div>
        <div *ngIf="order && order.descriptionsWithAmount && order.descriptionsWithAmount.length > 0" class="extraCarInfo">
          <p class="texts" *ngFor="let description of order.descriptionsWithAmount"><strong>- {{description.description}}&#160;-&#160;{{description.charged}}</strong></p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!blankPage" class="date">
    <p class="texts">Kelt: Székesfehérvár, {{today | date:'yyyy-MM-dd'}}</p>
  </div>
  <div *ngIf="!blankPage" class="signature">
    <p class="upperLine texts">Vásárló aláírása</p>
    <p class="upperLine texts">A2 Autócentrum Kft. aláírása</p>
  </div>
</div>
<div>
  <button (click)="captureScreen()" mat-button>PDF Generálás</button>
</div>
