html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0;
  overflow: hidden; /*  Disable scrollbars */
  display: block;  /* No floating content on sides */
}

.title {
  text-align: center;
  font-size: 280%;
  text-decoration: underline;
}

p, h1 {
  font-family: "Times New Roman", Times, serif !important;
}
.company {
  margin-left: 8%;
  margin-right: 8%;
}

.handledData {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 1%;
}

.gdprContainer {
  padding-top: 3%;
}

.sectionLiner {
  font-weight: bolder;
  font-size: 130%;
}

.listItem {
  margin-left: 3%;
  margin-bottom: 0;
}

button {
  background-color: deeppink;
  color: white;
}

.sectionSeparateur {
  margin-top: 2%;
  margin-left: 8%;
  margin-right: 8%;
}

.date {
  margin-bottom: 4%;
  margin-left: 10%;
}

.signature {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.upperLineBuyer {
  text-align: center;
  min-width: 25%;
  border-top: 1px solid black;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
}

.upperLineCompany {
  text-align: center;
  min-width: 30%;
  border-top: 1px solid black;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
}

p {
  font-size: 105%;
}
