.dateContainer, .witnessContainer {
  display: flex;
  justify-content: space-evenly;
}

h5 {
  margin-bottom: 5%;
}

button {
  color: white;
  background-color: deeppink;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
