.dateContainer, .witnessContainer {
  display: flex;
  justify-content: space-evenly;
}

h5 {
  margin-bottom: 5%;
}

button {
  color: white;
  background-color: deeppink;
}

.buttons, .remarkContainer, .descriptions {
  display: flex;
  justify-content: space-between;
}

.descriptions {
  display: flex;
  align-items: center;
  width: 70%;
}

.witnessContainer, .representationContainer {
  margin-top: 2%;
}

.representationContainer {
  display: flex;
  justify-content: center;
}

.delete, .pointer {
  cursor: pointer;
}

.miniFab:focus {
  outline: none;
}

.clearDates > i{
  position:relative;
  top: calc(50% - 10px); /* 50% - 3/4 of icon height */
  display: flex;
  align-items: center;
}

.inner {
  width: 50%;
  margin: 0 auto;
}
